In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hw06.ipynb")

<div class="alert alert-success" markdown="1">

#### Homework 6

# SQL, Regular Expressions, and GPTEECS

### EECS 398-003: Practical Data Science, Fall 2024

#### Due Thursday, October 17th at 11:59PM (due in **two** weeks)
    
</div>

## Instructions

Welcome to Homework 6! In this homework, you will practice writing SQL queries, use regular expressions to extract meaning out of messy text data, and apply your knowledge of cosine similarity and TF-IDF to implement a supercharged ChatGPT-like bot. See the [Readings section of the Resources tab on the course website](https://practicaldsc.org/resources/#readings) for supplemental resources.

You are given six slip days throughout the semester to extend deadlines. See the [Syllabus](https://practicaldsc.org/syllabus) for more details. With the exception of using slip days, late work will not be accepted unless you have made special arrangements with your instructor.

To access this notebook, you'll need to clone our [public GitHub repository](https://github.com/practicaldsc/fa24/). The [‚öôÔ∏è Environment Setup](https://practicaldsc.org/env-setup) page on the course website walks you through the necessary steps. Once you're done, you'll submit your completed notebook to Gradescope.

Please start early and submit often. You can submit as many times as you'd like to Gradescope, and we'll grade your **most recent** submission.

<div class="alert alert-success" markdown="1">
Unlike other homeworks, Homework 6 <b>has no hidden tests</b>, because of its proximity to the Midterm Exam. This means the tests you see in your notebook are the exact same as the ones that will be used to grade your work on Gradescope. When you submit on Gradescope, you'll see your score shortly after you submit, once the autograder finishes running.
<br><br>
<b>Even though Homework 6 is due after the Midterm Exam, you should work on it before, since everything in the homework is in scope for the exam!</b> In particular, we recommend working on Questions 1-3 before the exam, because they provide core practice with SQL and regular expressions, both of which will appear on the exam. Question 4 is more "applied", and while cosine similarity, bag of words, and TF-IDF will appear on the exam, the best way to practice with those ideas is by working on relevant old exam problems at the <a href="https://study.practicaldsc.org"><b>study site</b></a>.
</div>

If you do fail a test in your notebook, look for a brief failure message that describes the error.

This homework is worth a total of **56 points**, all of which come from the autograder. The number of points each question is worth is listed at the start of each question. **The four questions in the assignment are independent, so feel free to move around if you get stuck**. Tip: if you're using Jupyter Lab, you can see a Table of Contents for the notebook by going to View > Table of Contents.

<!-- <a name='like-dataframe'>

</a>

<div class="alert alert-warning" markdown="1">
    
**Note**: Throughout this homework, you'll see statements like this frequently:

<blockquote>Complete the implementation of the function ____, which takes in a DataFrame <code>df</code> like <code>other_df</code> and _____.</blockquote>

What this means is that you should assume that `df` has the same number of columns as `other_df`, with the same column titles and data types, but potentially a different number of rows in a different order, with a potentially different index. You should always also assume that `df` has at least one row.

We have you implement functions like this to prevent you from hard-coding your answers to one specific dataset.

</div>
 -->
 
<div class="alert alert-danger" markdown="1">
<tt>for</tt>-loops are <strong>allowed</strong> throughout this entire homework.

</div>

To get started, run the **two** cells below, plus the cell at the top of the notebook that imports and initializes `otter`. The cell below installs a few new packages that weren't included in the `pds` conda environment that we'll need throughout the assignment.

In [2]:
!pip install duckdb
!pip install groq

Requirement already satisfied: duckdb in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: groq in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (0.11.0)
Requirement already satisfied: anyio<5,>=3.5.0 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from groq) (4.2.0)
Requirement already satisfied: distro<2,>=1.7.0 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from groq) (0.27.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from groq) (2.8.2)
Requirement already satisfied: sniffio in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from groq) (1.3.0)
Requirement already satisfied: typing-extensions<5,>=4.7 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from groq) (4.11.0)
Requirement already satisfied: idna>=2.8 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from anyio<5,>=3.5.0->groq) (3.7)
Requirement already satisfied: exceptiongroup>=1.0.2 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from anyio<5,>=3.5.0->groq) (1.2.0)
Requirement already satisfied: certifi in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from httpx<1,>=0.23.0->groq) (2024.7.4)
Requirement already satisfied: httpcore==1.* in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from httpx<1,>=0.23.0->groq) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.14.0)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->groq) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in /Users/macbook/anaconda3/envs/pds/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->groq) (2.20.1)

In [3]:
import duckdb
import pandas as pd
import numpy as np
import os
import re
import groq
from IPython.display import Markdown

## Question 1: LoansQL üíµ

---

In this question, you'll practice writing SQL queries involving the LendingClub loans dataset from [Lecture 7](https://practicaldsc.org/resources/lectures/lec07/lec07-filled.html) and Homework 4. Run the cell below to load in our dataset as the DataFrame `loans` and clean it using the same steps from lecture.

In [4]:
def clean_term_column(df):
    return df.assign(
        term=df['term'].str.split().str[0].astype(int)
    )

def clean_date_column(df):
    return (
        df
        .assign(date=pd.to_datetime(df['issue_d'], format='%b-%Y'))
        .drop(columns=['issue_d'])
    )

loans = (
    pd.read_csv('data/loans.csv')
    .pipe(clean_term_column)
    .pipe(clean_date_column)
)

loans

,id,loan_amnt,term,int_rate,grade,sub_grade,emp_title,verification_status,home_ownership,annual_inc,loan_status,purpose,desc,addr_state,dti,fico_range_low,fico_range_high,hardship_flag,mths_since_last_delinq,date
0,17965023,18000.0,60,16.99,D,D3,sales,Source Verified,RENT,60000.0,Charged Off,debt_consolidation,NaN,MN,23.22,700.0,704.0,N,72.0,2014-06-01
1,111414087,10000.0,36,16.02,C,C5,mechanic,Source Verified,OWN,50000.0,Current,home_improvement,NaN,IL,6.14,680.0,684.0,N,6.0,2017-06-01
2,95219557,12800.0,36,7.99,A,A5,general manager,Not Verified,MORTGAGE,47500.0,Fully Paid,debt_consolidation,NaN,MO,12.89,705.0,709.0,N,66.0,2016-12-01
3,142831837,16000.0,60,23.40,E,E1,nurse,Source Verified,MORTGAGE,120000.0,Current,home_improvement,NaN,FL,5.66,670.0,674.0,N,NaN,2018-10-01
4,140113255,40000.0,60,7.84,A,A4,staff pharmacist,Verified,MORTGAGE,150000.0,Current,debt_consolidation,NaN,MN,12.24,735.0,739.0,N,NaN,2018-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6295,16121830,20000.0,36,6.03,A,A1,senior buyer,Verified,RENT,124000.0,Fully Paid,debt_consolidation,NaN,CA,6.91,720.0,724.0,N,54.0,2014-05-01
6296,105091208,20000.0,36,7.99,A,A5,registered nurse,Source Verified,OWN,220000.0,Fully Paid,debt_consolidation,NaN,CA,5.66,695.0,699.0,N,NaN,2017-04-01
6297,63990101,10800.0,60,18.49,E,E2,technician,Verified,OWN,35000.0,Charged Off,debt_consolidation,NaN,NY,25.39,675.0,679.0,N,39.0,2015-11-01
6298,37641672,15000.0,60,14.31,C,C4,software engineer,Source Verified,RENT,150000.0,Fully Paid,credit_card,NaN,CA,10.63,660.0,664.0,N,22.0,2014-12-01
6299,50587446,14000.0,60,9.99,B,B3,teacher,Not Verified,MORTGAGE,44868.0,Current,home_improvement,NaN,TX,9.25,685.0,689.0,N,NaN,2015-06-01

As we did in [Lecture 10](https://practicaldsc.org/resources/lectures/lec10/lec10-filled.html#SQL), we will use the Python module `duckdb` to execute SQL queries within our Jupyter Notebook. We've included code to install and import `duckdb` at the top of this notebook.

Specifically, we will use the `run_sql` function we defined in lecture.
- `run_sql` takes in a string containing a SQL query.
- `run_sql` outputs the result of running the query, treating all DataFrames mentioned in the query as if they were SQL tables. The result it outputs (here) is a **DataFrame**.

In [5]:
def run_sql(query_str):
    if query_str == ... or query_str.strip() == '':
        raise NotImplementedError('The input passed to run_sql is empty. Update it to include your query.')
    out = duckdb.query(query_str)
    return out.to_df()

For example, the following call to `run_sql` references `loans`, a DataFrame already defined in our notebook. It returns a new DataFrame (and doesn't modify the original `loans` DataFrame).

In [6]:
run_sql('''
SELECT * FROM loans
WHERE term = 60 AND loan_amnt > 20000
''')

,id,loan_amnt,term,int_rate,grade,sub_grade,emp_title,verification_status,home_ownership,annual_inc,loan_status,purpose,desc,addr_state,dti,fico_range_low,fico_range_high,hardship_flag,mths_since_last_delinq,date
0,140113255,40000.0,60,7.84,A,A4,staff pharmacist,Verified,MORTGAGE,150000.0,Current,debt_consolidation,None,MN,12.24,735.0,739.0,N,NaN,2018-09-01
1,143365202,30000.0,60,20.89,D,D4,graphics designer/ ui developer,Source Verified,RENT,80000.0,Current,credit_card,None,CA,29.34,700.0,704.0,N,17.0,2018-11-01
2,94378468,24000.0,60,21.49,D,D5,producer,Verified,RENT,85000.0,Charged Off,debt_consolidation,None,CA,15.92,660.0,664.0,N,29.0,2016-12-01
3,99330538,24000.0,60,23.99,E,E2,courier,Source Verified,MORTGAGE,80000.0,Fully Paid,debt_consolidation,None,GA,4.29,660.0,664.0,N,NaN,2017-02-01
4,59411554,32000.0,60,18.55,E,E2,patients care tech,Verified,OWN,75000.0,Fully Paid,debt_consolidation,None,CA,38.50,670.0,674.0,N,80.0,2015-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,16341922,20400.0,60,14.49,C,C4,information security engineer,Source Verified,OWN,133000.0,Fully Paid,home_improvement,None,GA,14.02,710.0,714.0,N,82.0,2014-05-01
490,137876020,40000.0,60,11.55,B,B4,police sergeant,Source Verified,MORTGAGE,150000.0,Current,debt_consolidation,None,IL,17.14,705.0,709.0,N,NaN,2018-08-01
491,78659466,30300.0,60,29.96,G,G4,rn,Verified,MORTGAGE,70000.0,Charged Off,debt_consolidation,None,IN,21.93,680.0,684.0,N,NaN,2016-05-01
492,56109274,21000.0,60,20.99,E,E5,mailhandler,Verified,RENT,54000.0,Fully Paid,debt_consolidation,None,NY,28.53,665.0,669.0,N,19.0,2015-08-01
493,132541772,23900.0,60,12.61,C,C1,svp & internal audit director,Source Verified,MORTGAGE,232785.0,Current,credit_card,None,TX,16.60,685.0,689.0,N,65.0,2018-05-01

The above query happens to be equivalent to the following:

In [7]:
loans[(loans['term'] == 60) & (loans['loan_amnt'] > 20000)]

,id,loan_amnt,term,int_rate,grade,sub_grade,emp_title,verification_status,home_ownership,annual_inc,loan_status,purpose,desc,addr_state,dti,fico_range_low,fico_range_high,hardship_flag,mths_since_last_delinq,date
4,140113255,40000.0,60,7.84,A,A4,staff pharmacist,Verified,MORTGAGE,150000.0,Current,debt_consolidation,NaN,MN,12.24,735.0,739.0,N,NaN,2018-09-01
35,143365202,30000.0,60,20.89,D,D4,graphics designer/ ui developer,Source Verified,RENT,80000.0,Current,credit_card,NaN,CA,29.34,700.0,704.0,N,17.0,2018-11-01
48,94378468,24000.0,60,21.49,D,D5,producer,Verified,RENT,85000.0,Charged Off,debt_consolidation,NaN,CA,15.92,660.0,664.0,N,29.0,2016-12-01
52,99330538,24000.0,60,23.99,E,E2,courier,Source Verified,MORTGAGE,80000.0,Fully Paid,debt_consolidation,NaN,GA,4.29,660.0,664.0,N,NaN,2017-02-01
54,59411554,32000.0,60,18.55,E,E2,patients care tech,Verified,OWN,75000.0,Fully Paid,debt_consolidation,NaN,CA,38.50,670.0,674.0,N,80.0,2015-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6219,16341922,20400.0,60,14.49,C,C4,information security engineer,Source Verified,OWN,133000.0,Fully Paid,home_improvement,NaN,GA,14.02,710.0,714.0,N,82.0,2014-05-01
6224,137876020,40000.0,60,11.55,B,B4,police sergeant,Source Verified,MORTGAGE,150000.0,Current,debt_consolidation,NaN,IL,17.14,705.0,709.0,N,NaN,2018-08-01
6234,78659466,30300.0,60,29.96,G,G4,rn,Verified,MORTGAGE,70000.0,Charged Off,debt_consolidation,NaN,IN,21.93,680.0,684.0,N,NaN,2016-05-01
6275,56109274,21000.0,60,20.99,E,E5,mailhandler,Verified,RENT,54000.0,Fully Paid,debt_consolidation,NaN,NY,28.53,665.0,669.0,N,19.0,2015-08-01
6290,132541772,23900.0,60,12.61,C,C1,svp & internal audit director,Source Verified,MORTGAGE,232785.0,Current,credit_card,NaN,TX,16.60,685.0,689.0,N,65.0,2018-05-01

All of the questions below will ask you to assign your answer to a **string**. To test your code, we will call `run_sql` on the string that you define, and make sure the resulting DataFrame has the right properties. We suggest you use multi-line strings (defined by `'''` triple quotes `'''`) like in the example call to `run_sql` above.

Most of the syntax you need to answer the queries here was covered in Lecture 10. The chart at the start of the [SQL section of Lecture 10](https://practicaldsc.org/resources/lectures/lec10/lec10-filled.html#SQL) contains a nice summary of the necessary keywords.

### Question 1.1 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Assign `query_1` to a string containing a SQL query that finds **the total (sum) of all loan amounts for each loan purpose, only among loans given in Michigan (`'MI'`)**. The DataFrame that results from calling `run_sql(query_1)` should have two columns, **`'purpose'`** and **`'total_loans'`**, and should be sorted in **descending order** of `'total_loans'`.

In [8]:
query_1 = '''
    SELECT purpose, SUM(loan_amnt) AS total_loans
    FROM loans 
    WHERE addr_state = 'MI'
    GROUP BY purpose
    ORDER BY total_loans DESC
'''
run_sql(query_1)

              purpose  total_loans
0  debt_consolidation    1541525.0
1         credit_card     582675.0
2    home_improvement     113375.0
3               other     110275.0
4               house      68600.0
5      major_purchase      45800.0
6      small_business      25900.0
7              moving       6400.0

In [9]:
grader.check("q01_01")

q01_01 results: All test cases passed!

### Question 1.2 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Assign `query_2` to a string containing a SQL query that finds **the average credit score per state, among states _having_ at least 150 loans**. The DataFrame that results from calling `run_sql(query_2)` should have two columns, **`'state'`** and **`'average_credit'`**, and should be sorted in **increasing order** of `'average_credit'`.

Some guidance:
- Extract credit scores from the `'fico_range_low'` column in `loans`.
- One of the SQL keywords you need to use was _italicized_ in the first sentence above.

In [10]:
query_2 = '''
    SELECT addr_state AS state , AVG(fico_range_low) AS average_credit
    FROM loans
    GROUP BY addr_state
    HAVING COUNT(loan_amnt) > 150
    ORDER BY average_credit ASC
'''
run_sql(query_2)

   state  average_credit
0     FL      695.130952
1     VA      696.338798
2     NJ      696.710526
3     OH      697.401961
4     MI      697.672414
5     CA      698.154696
6     MD      698.245033
7     IL      698.582375
8     GA      698.712121
9     PA      698.731707
10    TX      699.312839
11    NY      700.200803
12    NC      700.452128
13    MA      702.235294

In [11]:
grader.check("q01_02")

q01_02 results: All test cases passed!

### Question 1.3 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

The LendingClub uses **simple interest** to calculate loan payments. Using simple interest, the total amount due for a loan is:

$$\text{Total Amount Due} = \text{Loan Amount} \cdot \left(1 + (\text{Interest Rate} \cdot \text{Loan Length in Years}) \right)$$

For example, a loan for \\$10,000 at an interest rate of 15% for 5 years would pay a total amount of \\$17,500:

$$10000 \cdot (1 + 0.15 \cdot 5) = 17500$$

Since there are 60 months in 5 years, this lendee would pay $\frac{\$17,500}{60} = \$291.67$ per month for 60 months. **Note that the percentage 15% is equivalent to the decimal 0.15.**

More generally:

$$\text{Monthly Payments} = \frac{\text{Total Amount Due}}{\text{Loan Length in Months}} = \frac{\text{Loan Amount} \cdot \left(1 + (\text{Interest Rate} \cdot \text{Loan Length in Years}) \right)}{\text{Loan Length in Months}}$$

Assign `query_3` to a string containing a SQL query that finds **loan amount, term, interest rate, and monthly payment amount of the single loanholder with the highest monthly payments**. The DataFrame that results from calling `run_sql(query_3)` should have four columns, `'amount'`, `'term'`, `'interest'`, and `'monthly'`, and should only have a **single row**.

In [12]:
query_3 = '''
SELECT loan_amnt AS amount, term, int_rate AS interest, (loan_amnt * ((1+(interest/100)*(term/12)))/term) AS monthly 
FROM loans
ORDER BY monthly DESC
LIMIT 1;
'''
run_sql(query_3)

    amount  term  interest      monthly
0  39475.0    36     23.88  1882.080278

In [13]:
grader.check("q01_03")

q01_03 results: All test cases passed!

## Question 2: Practice with Regular Expressions üìï

---

Regular expressions can be tricky, and the best way to gain familiarity with them is through lots of practice.

In this question, you will work through 10 parts, **each of which requires you to write a regular expression that matches strings that satisfy certain criteria**. You will do this by ‚Äì as usual ‚Äì completing the implementation of a function. In Questions 2.1 through 2.9, your function will take in a string and return `True` if the string follows the pattern and `False` otherwise.

- Make sure to take a close look at the examples for each function, as they provide useful guidance for the types of strings you should and shouldn't match.
- Make sure to refer to the [Regular Expression Resources](https://practicaldsc.org/resources/#regular-expressions) on the course website. In particular, we recommend having [regex101.com](https://regex101.com/) open while working, along with the [cheat sheet](https://practicaldsc.org/resources/other/berkeley-regex-reference.pdf).
- The number of points each part is worth tells you its relative difficulty level ‚Äì some are worth <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div> and some are worth <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>. If you're spending lots of time on exercises worth <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>, take a close look at the syntax from [Lecture 9](https://practicaldsc.org/resources/lectures/lec09/lec09-filled.html), as there is probably an easier way of writing the necessary pattern!
- The 10 parts are all independent, and are **not** sorted by difficulty ‚Äì some of the easiest parts are in the middle or towards the end!

### Question 2.1  <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Write a regular expression that matches strings that have `'['` as the third character and `']'` as the sixth character. Example behavior is given below.

```python
>>> match_1("abcde]")
False

>>> match_1("ab[cde")
False

>>> match_1("ab[cd]ef")
True
```

In [14]:
def match_1(string):
    pattern = r'^..\[..\].*$'

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [15]:
grader.check("q02_01")

q02_01 results: All test cases passed!

### Question 2.2 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Write a regular expression that matches strings that are phone numbers that start with `'(734)'` and follow the format `'(xxx) xxx-xxxx'` (`'x'` represents a digit). Example behavior is given below.

```python
>>> match_2("(734) 456-7890")
True

>>> match_2("(123) 456-7890")
False

>>> match_2("(734) 456-7890b")
False
```

Note that there is a space between `'(xxx)'` and `'xxx-xxxx'`!

In [16]:
def match_2(string):
    pattern = r'^\(734\) \d{3}-\d{4}$'

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [17]:
grader.check("q02_02")

q02_02 results: All test cases passed!

### Question 2.3 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Write a regular expression that matches strings that:
- are between 6 and 10 characters long (inclusive),
- contain only alphanumeric characters, whitespace and `'?'`, and
- end with `'?'`.

Example behavior is given below.

```python
>>> match_3('qw?ertsd?')
True

>>> match_3("ab   c ?")
True

>>> match_3(" adf!qes ?")
False

>>> match_3('wwwWW .? ')
False
```

Note that `'?'` is a special character.

In [18]:
def match_3(string):
    pattern = r"^[A-Za-z \?]{5,9}\?$"

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [19]:
grader.check("q02_03")

q02_03 results: All test cases passed!

### Question 2.4 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>

Write a regular expression that matches strings with exactly two `'$'`, one of which is at the start of the string, such that:
- the characters between the two `'$'` can be anything (including nothing) except the lowercase letters `'a'`, `'b'`, and `'c'`, (and `'$'`), and
- the characters after the second `'$'` can only be the **lowercase or uppercase** letters `'a'`/`'A'`, `'b'`/`'B'`, and `'c'`/`'C'`, with every `'a'`/`'A'` before every `'b'`/`'B'`, and every `'b'`/`'B'` before every `'c'`/`'C'`. There **must be** at least one `'a'` or `'A'`, at least one `'b'` or `'B'`, and at least one `'c'` or `'C'`.

Example behavior is given below.

```python
>>> match_4("$!@#$aABc")
True

>>> match_4('$qw!!  $aaBC')
True

>>> match_4('$a$aABc')
False

>>> match_4('$!@$')
False
```

In [20]:
def match_4(string):
    pattern = r"^\$([^abc]*)\$[aA]+[bB]+[cC]+"

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [21]:
grader.check("q02_04")

q02_04 results: All test cases passed!

### Question 2.5 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Write a regular expression that matches strings that represent valid Python file names, including the extension. For simplicity, assume that file names only contain letters, numbers, and underscores. Example behavior is given below.

```python
>>> match_5("eecs398.py")
True

>>> match_5('eecs398_.py')
True

>>> match_5("here is a Python file eecs398.py")
False

>>> match_5("eecs398+.py")
False
```

In [22]:
def match_5(string):
    pattern = r"^[\w]+\.py$"

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [23]:
grader.check("q02_05")

q02_05 results: All test cases passed!

### Question 2.6 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Write a regular expression that matches strings that:
- are made up of only lowercase letters and exactly one underscore (`'_'`), and
- have at least one lowercase letter on both sides of the underscore.

Example behavior is given below.

```python
>>> match_6("aab_cbbbc")
True

>>> match_6("zebra_d")
True

>>> match_6("aab_Abbbc")
False

>>> match_6("zebra_")
False
```

In [24]:
def match_6(string):
    pattern = r"^[a-z]+_[a-z]+$"

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [25]:
grader.check("q02_06")

q02_06 results: All test cases passed!

### Question 2.7 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Write a regular expression that matches strings that start with and end with an underscore (`'_'`). Example behavior is given below.

```python
>>> match_7("_abc_")
True

>>> match_7("_ZeBr@45Din000!!!\b_")
True

>>> match_7("abc")
False

>>> match_7("_ncde")
False

>>> match_7("_") # Need at least two underscores!
False
```

In [26]:
def match_7(string):
    pattern = r"^_.+_$"

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [27]:
grader.check("q02_07")

q02_07 results: All test cases passed!

### Question 2.8 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Apple serial numbers are strings of length 1 or more that are made up of any characters, other than
- the uppercase letter `'O'`, 
- the lowercase letter `'i`', and 
- the number `'1'`.

Write a regular expression that matches strings that are valid Apple serial numbers. Example behavior is given below.

```python
>>> match_8('ASDJKL9380JKAL')
True

>>> match_8("ASJDKLFK0ASDo!!!!!!! !!!!!!!!!")
True

>>> match_8('iPhone 10')
False

>>> match_8("hi ASDJKL9380JKAL")
False
```

In [28]:
def match_8(string):
    pattern = r'^[^Oi1]+$'

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [29]:
grader.check("q02_08")

q02_08 results: All test cases passed!

### Question 2.9 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>

Suppose DataID numbers are formatted as `'SC-NN-CCC-NNNN'`, where 
- SC represents state code in uppercase (e.g. `'MI'`),
- NN represents a number with 2 digits (e.g. `'98'`),
- CCC represents a three letter city code in uppercase (e.g. `'DTW'`), and
- NNNN represents a number with 4 digits (e.g. `'1998'`).

Write a regular expression that matches strings that are DataID numbers corresponding to the cities of `'DTW'` (Detroit) or `'LAN'` (Lansing), or the state of `'TX'` (Texas). Assume that there is only one city named `'DTW'` and only one city named `'LAN'`.

Example behavior is given below.

```python
>>> match_9('MI-32-LAN-1232')
True

>>> match_9('TX-32-DTW-1232')
True

# Lansing is not in California!
>>> match_9('CA-32-LAN-1232')
False

>>> match_9('mI-32-LAN-1232')
False
```

In [30]:
def match_9(string):
    pattern = r"^[MITX]{2}-\d{2}-[A-Z]{3}-\d{4}$"

    # Do not edit the following code.
    return re.findall(pattern, string) != []

In [31]:
grader.check("q02_09")

q02_09 results: All test cases passed!

### Question 2.10 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>

In this final part, your task involves more than writing a single regular expression.

Complete the implementation of the function `match_10`, which takes in a string (`string`) and:
- converts the string to lowercase,
- removes all non-alphanumeric characters (i.e. removes everything that is not in the `\w` character class), and the letter `'a'`, and
- returns a list of every **non-overlapping** three-character substring in the remaining string, starting from the beginning of the string.
   
Example behavior is given below.

```python
>>> match_10('Ab..DEF')
['bde']

>>> match_10('FINALS are COMING A')
['fin', 'lsr', 'eco', 'min']

>>> match_10('h9i9hOWW44areY@')
['h9i', '9ho', 'ww4', '4re']
```

Here's how `match_10` should process `'Ab..DEF'`:

1. Convert to lowercase: `'ab..def'`.
2. Remove non-alphanumeric characters and the letter `'a'`: `'bdef'`.
3. Starting from the beginning of the string, there is only a single non-overlapping three character substring: `'bde'`. Hence, we return `['bde']`.

Some guidance: 
- Perform your operations in the exact order described above, otherwise your code may not pass all the tests.
- Don't use a `for`-loop. You'll need to use `re.sub` in addition to `re.findall`.

In [32]:
def match_10(string):
    string = string.lower()
    clean_string = re.sub(r'[^a-zA-Z0-9]|a| ', '', string)
    clean_string
    out = []
    for i in range(0,(len(clean_string)-2),3):
        out.append(clean_string[i:i+3])
    return out
    
    

# Feel free to change the input below to test out your implementation of match_10.
#match_10('FINALS are COMING A')
match_10('FINALS are COMING A')

['fin', 'lsr', 'eco', 'min']

In [33]:
grader.check("q02_10")

q02_10 results: All test cases passed!

## Question 3: Capture Groups üì°

---

The dataset stored in `data/messy.txt` contains personal information from a fictional website that a user scraped from web server logs. Within this dataset, there are four fields that are of interest to you:
1. Social Security Numbers
1. Bitcoin Addresses
1. Email Addresses 
1. Street Addresses

Your job is to use `re.findall` to extract out the relevant pieces of information from `messy.txt`. **Since this data is very messy, your function will be allowed to miss ~5% of the records in each list. Good spot checking using certain useful substrings (e.g. `'@'` for emails) should help assure correctness!** As usual, your functions will be tested on a sample of the file `messy.txt`.

Note that there are multiple "delimiters" (separators) in use in the file; there are few enough of them that you can safely determine what they are. **Before attempting any of the parts here, open `data/messy.txt` in your favorite text editor and explore!**

### Question 3.1 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Complete the implementation of the function `extract_ssns`, which takes in a string (`string`) containing the contents of a server log file and returns the Social Security Numbers in the file as a list. Example behavior is given below.

```python
>>> extract_ssns('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
['423-01-9575']

>>> out = extract_ssns(open('data/messy.txt', encoding='utf8').read())
>>> out[0]
'380-09-9403'
```

Some guidance:
- For our purposes, an SSN is a string of the form 3 digits-2 digits-4 digits.
- The returned list should not contain any empty strings or the string `'null'`.

In [34]:
def extract_ssns(string):
    pattern = r'\d{3}-\d{2}-\d{4}'
    return re.findall(pattern, string)
    
# To test your work, first run:
extract_ssns('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
# Then, once that works, uncomment:
# extract_ssns(open('data/messy.txt', encoding='utf8').read())

['423-01-9575']

In [35]:
grader.check("q03_01")

q03_01 results: All test cases passed!

### Question 3.2  <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Complete the implementation of the function `extract_bitcoin_addresses`, which takes in a string (`string`) containing the contents of a server log file and returns the Bitcoin addresses in the file as a list. Example behavior is given below. 

```python
>>> extract_bitcoin_addresses('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
['1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2']

>>> out = extract_bitcoin_addresses(open('data/messy.txt', encoding='utf8').read())
>>> out[0]
'18A8rBU3wvbLTSxMjqrPNc9mvonpA4XMiv'
```

Some guidance:
- Assume Bitcoin addresses are alphanumeric strings.
- The returned list should not contain any empty strings or the string `'null'`.

In [36]:
def extract_bitcoin_addresses(string):
    pattern = r'in:[A-Za-z0-9]+'
    word = re.findall(pattern, string)
    word = [i[3:] if i != "in:null" else ''  for i in word]
    if '' in word:
        word.remove('')
    return word
    
# To test your work, first run:
extract_bitcoin_addresses('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')

# Then, once that works, uncomment:
extract_bitcoin_addresses(open('data/messy.txt', encoding='utf8').read())

['18A8rBU3wvbLTSxMjqrPNc9mvonpA4XMiv',
 '1EB7kYpnfJSqS7kUFpinsmPF3uiH9sfRf1',
 '1E5fev4boabWZmXvHGVkHcNJZ2tLnpM6Zv',
 '1DqG3WcmGw74PjptjzcAmxGFuQdvWL7RCC',
 '1LfacbqCA7NZVq2u5CTTZsoEtncYuBWvNX',
 '1DoWjNx6PGwPvMQ5P7zeLWg6hnbGC184td',
 '1FLuKwdTrCiMrdS4wmRKCJfTRDZsq5f2q2',
 '1DY46TrozvX1SLvGH39Nc2kfx236gaAoLA',
 '17fo1ZbViKPFGiPXhNsAU8NUyw5bynRxDX',
 '17ZrXccNfAdyVt7DTqWDXKgdhmYtYKnmNN',
 '18SWMUwCnwHxoFAr2czJRsSBQgF8oCWDTu',
 '1PrAha8iCktRM2J67VXivQucjzvsTRwsd8',
 '1BovwmzX7oLyNZX76LqVy5SJKQLBYA4d7c',
 '1DAb3G5vbWAotDZrdQaFu1NYCTsEEgxWpM',
 '1L7UMt4HmedHLeowz7TAmTtgPKGzTHM7H3',
 '1CaBYBD2Hz21NHpQ266iVxZ2ZKjS29XvCp',
 '1NsK6BVxEPwxXLMjLkVkVLQzbjqLLEyT1i',
 '1AyiBohjtgByzouVbpCp2LqV2qATy5Nvgt',
 '1WtiMLn5TYheBkLQ6D3Vr4TjmkyR8aNLY',
 '17LwuggjFmVWYwDLKJ2zrxKrs6d21FMvij',
 '1FTXfdD4ZDsBu1ht3KvkPEd5GKFhTj9Pri',
 '13WNKycmFaQvbyARgMrvn434kmDRQQWzr2',
 '1LMRBCHL4Hi4aQR8nMNAYErrBVGLjXX5dv',
 '1KVfRPSwDTbAu9feKFSqFBap5swajp56kn',
 '13HcgY6Vn7oFPAzYnARVtZQS4GDbb7sfqg',
 '1GyFrbAJwcGQugdPBs7ecdf12BUqhpXZpD',
 '1HgSpAK6yXKyRjSwMEpMMWwtBVeGVZeV8s',
 '1Lo9c3f7GAFT5sEPTsrvVJZU5dAeVCspKA',
 '1Nb6dSCX741ecD9LLeGFdw95CSKSt4cgJV',
 '19gH4EUZr1BZGLfyH5KaPSvRtoJpvMW1G8',
 '1N7DnvqnsqiPYfscMNpXguPCbrXxwJzzgg',
 '1GKiUdMny3Sk5iVaPHSLmStJEe4W1r5QtY',
 '1LWCN9PwgaiQJNHoYfcWyrdWNt3xAy67fR',
 '19UFMjbBFoSqfXgB3fyTiT6vUFUJQ5XPuh',
 '1Pw98qLnNpnrVspwHfKb4AjcXgfSfWBCMo',
 '13dqHNVq1uBTsYnxYw1gM3vScuRLFidSip',
 '1M1RkE85MqsL56ii62QZaPMhvsGgAxBv3h',
 '1E8aL9jQGSuHE5PcttnH6k953ze8uaxYmh',
 '14hSyjBDQpHu4UPVT2MZK7R9gRX4J9QnDz',
 '1MSCbxCEdXPtgfLjMzyySShdHoCB6yvbRH',
 '1QDDSf2sWb9VdYuiWMerpmyuqg4rK8yup2',
 '1PzFgCsHMxZX2XTQBZ79Cx2tsieyNrc6UQ',
 '14s1Fwew7vZzB62UhCL6pjvNaBuurETnsu',
 '14rwN7qDtCnxjXzWdvLyXH1EM3CA2aZXUa',
 '18UTRBbN8vnQiFqNkD132A6SXLCJ7XxKnY',
 '1Kt6eSEanamDGUhBCKdnvqpkF5dkST7Mzs',
 '16t3ujSmkT26ZXLAwqxKSRAmBkF69ab6QR',
 '1BW9U1AnBPM1184G768t4MPGLGnGGy5rzP',
 '1CE68afBMCwbX75qcKUutw2xHfunNGk8ga',
 '13yMK1GrAvxpqteCSU1SmMDcaMR8xZdJUe',
 '16CX5HG6qNkL2m7JjCQLyg8Q1yFkBbEPJR',
 '1KHprX6Wgek9ALG8aUEjPS9rN7bPbenfdG',
 '15KpUWSZFK6bpMsrK7AbLkHApCFqwSVaqj',
 '1PpkaEGVik1NWBnSyCiVzxv6p6Xbmfngq7',
 '1ExC1BwcKZqNdSwRKBUSGrPBcfCpf9gVA2',
 '1CChqa4MiWM1VqbbGNLnTpDUvwv4vrNEFt',
 '1PRESqp9tKgGn9Yf8myTxXfdCtTPDJc3cc',
 '133RWCHnjCxVA6Mhh2yM6PPkEH2YJVwmVP',
 '1DHk11LfkWAYBhXYRK7G7xqqAovBsEmbuZ',
 '18dEvLQ7AMEF4BTSKJm19WeRf6K31r7voi',
 '1GVoQ4nNNbvzh5LVxQnbZn61eWWZF4mdty',
 '19D5xTA5PLyVRmRcnH2jC8kWpcCuMXJwqL',
 '13XLSN1kmnFygGnhzLghJyZufFewbMvVc6',
 '1oofLrxdJaUBjzvsAMinTQ3ru42gCDA1T',
 '1EHN2QdHu1BQQVKTSKX8w1CzwewzLuxJev',
 '1Jyy9HusMQXiWiDkJpcdEKCghVAnfyiLU2',
 '1NSXUxrKvHidUcdUF37Swyqwpq81LxA4EP',
 '1JPmFTow8ZU3WLkRpQvhJzFR1v1qfhWvcs',
 '',
 '',
 '168G3iCELcLYgAm8GJ8VJiZTBLr3i11rFi',
 '1NxNjNdXV2qCVVLDx9Ghze15saQ4aCxU6x',
 '1Fx9uuoTaLgBUGsfm67VjUaAkaTDHttKv7',
 '1KD5BtUxSZYdPqTwR5eXZmm7DpiwqdSXuD',
 '',
 '19NDSisceX97gQK6s1YUexQ74axA8moYhG',
 '',
 '1KwVvYaSZAPfu6AtuemYeHJ7aWf8L6t34A',
 '1MssPfuM5wZDiDDotiBVsjGf5ZqSkZ5Pap',
 '1NtyUwWFonUdr3XDZqVHSrJKwLTFcCN9GU',
 '18gzHpogHpkHLeUt51vqgbuhmJ16EbeymF',
 '1NhfdcpHPk9RXAjEbhRpNJrwoQ2Mcd8Xjn',
 '1EwLTQqjFWEAuhZv82fL46zT1PqeHTKKH6',
 '1LWR9jLWXNRj8DTzHdxFStdyuPphew5Hi2',
 '1H5z8mCtMiFeSYfmg5SGDPne1rY3mCjKmn',
 '1D3phxg3tgG3QnDT8tjCihY5rSjg7afNUE',
 '12J9DVR2sPp7j1t8pwLRZrZrMWZD2pEY9o',
 '141E3T7NQXRaJa6BLmBy5GiRP6u7SQx9vi',
 '1NjZ6HktRS11spA6a86DbPUpcNUjgCx96Q',
 '15bTH85bYUKq2AEBPc8Voe5uwyEn8rbmgB',
 '19X1bic5RDdDTtdSwjij3UPVkodDqDdcNb',
 '1MB86LgUsHDRfkNW3kvmSFiZhm5S1bxo7K',
 '1vQaF7A7KefhDbNQpnfRq7EGj84AfkhEc',
 '19KvHEa7uAv1BBtomxf8PPjRoQc9AR43Sq',
 '1PHRUEPsftcmuNFUsjUqenJHVwZcKpJ7up',
 '',
 '13qE2XoF8TVVjDPtqZkdEBCsDgz34abmTd',
 '1HQqQrxSmwooSA1udMK6cKZXPxx4TVUk3a',
 '1AgVZ2vyKzCSSo6Pa62by2ML6sVyGWNb2s',
 '1FMcyxaxURvhNJLnYrV7vXRsUn1ER3sju9',
 '1DayvpftupRnTEXFfXWv37JwoZ9to7qhQ2',
 '1BjEvUFPFfgK39a6oyQpxSrSLRwPaZHZRe',
 '1Gu7jLd4PSqWKzNzVNkmKeymRvkPsoX5Jg',
 '1BiV8Q2CDY8byTwYAp65YKiN2E5jMUDu9E',
 '1EAFtX31jYtgdGzjo92V3Lzpwa8Jy1QHye',
 '17nsAeyKSmfrWcXD4tWatk2Pzve73xhR8t',
 '1KpyPx5UmtZ6ASygwGgUoSLu4A44x23Ab7',
 '14i5JTGRsV46rUDrY9mXcmvYRLakNk9e2x',
 '1PjdRYMJZjvRPazCeaKo6e4TyQG9467dpi',
 '1MDmtphms249A85EuSY8DCuiunW6bqvqoX',
 '13NejjR7duDR9rzSfDS5BUqj4MCyzsNDv6',
 '12NMKYcpJzc9YQig6pN4hz1WZhRpuFhKfD',
 '1H7DXs64AUuovxSDpPr5TrKZxz87PUDrGx',
 '1L9YfAK1mKUaT5kpXrfaEM2EBsM8KWWBpi',
 '1LeCo7vpJWjHWMJPwf1uNw8YLeCtdRFzat',
 '15CcF7qmgPMKNtvZWMtUgzvg4ZMBfrGqXS',
 '1MbJburZb5Y7QpJccGSnMu3ybAoA69gLKh',
 '1GmBh83YBzLRJVcKWzYV9BZZ1DAy14Fk1Q',
 '1AjcVZ436LxLrKDJzWVe6movHigykqN7it',
 '1NwaKeZQRytbdZZRbpoxpmLmKwVBjiwqUg',
 '16Trc2w8Dno3Rwdv1GeEdTeZGAyZexUoSH',
 '175rnxjDAtV9rjeQLWPKaVTz3u5Hnofuei',
 '1DzKQvoJRZUMf1DynKCDACmR9ypYzDswVr',
 '1CbWvjNEtP2DWpLVh5tbfWbiLvj5mah3vf',
 '1HqedmV2LFdufFpdRhp4FKM1eLy5ZXFche',
 '1LiHqg7oktxZ89REgAPQ7RY9MpkSvMCUwt',
 '19GCF6Xb6wBSxs6on3AhwLKpHoSEySPPiQ',
 '16jU7CH3CY8f16tAfMGN35XUjEYRy8bF7e',
 '1HPjpAfx6DLcPVWZZtw2u6BLqbpDus5hZw',
 '1LoFpgNhozMqWdo8vLKWNwCWhzEGWVHzJM',
 '13n5xfbL7E5rhf7Zm7n1s7s9y7Yhk9nDBV',
 '1FgdP4crEuuaeBSdvf68dBBtai3rLq6UQ6',
 '17yFk2qvYyX4Msg5fv4TyGnyhoJqvh4W2o',
 '1GieJGbv2mbLKqmUiwnnpuiRMVdHviWe8a',
 '19pdmsR1UJ4YhX9APEhcfoMDjZoxnHeHM5',
 '1CQXatREkRMn6C6ojmSUy3jmX1jPnRSjGs',
 '1FCWpNrEKDtVvoxKPk1J5BnQ1eyLJRrSX1',
 '1qted4dQLbmpjZsaUX7NXSL3Uz1hunX1k',
 '1DsniM8PTW7mrxqUZgFWYoqQRJTXFMrKEc',
 '1Mot8DoZxNJATwCZNY5vEiz59QrY4pZQSL',
 '1MGLAtBizahrEoAXyjBoR54fTHH5pacUgM',
 '1Ac1eRocj4HgdDjuXB1EM2aauETCz66rEF',
 '1BpSfZcj4wEXCvKp4SFH7SqpVoYH3Y1y1U',
 '1FHbPRsv711J5kwWxUY5A5f4yktQ2ZbnvM',
 '',
 '17tpFLBW9ETfWMVWQXiJcZs3vhUhyeKWCm',
 '1GhTWVFvudNZY6eJv6zWMKDodPz2fJ26w5',
 '16JiX3x6WzZHjS6a4Y47cfTbiA8bKvXnpF',
 '13QJnhdMMrBpjh5TaLhCFA9U1yoznqoL93',
 '',
 '14gkYT47Dke2nEZwynEVyQRBpaz24uQE8v',
 '18G2h7iW2hPovzqdc1PCxmtnUUN6NF31JU',
 '19JpTCWqDfgQotxsJ5ecw4uGWdf7NnUBRD',
 '13CYidS7DWtWFNkZE53hGJ8Eg3msaEeGcM',
 '1FBa56BzRDRrc2NgcBZpMAzPXRnGL6sh91',
 '17a9WVbLsXpa6cXHaScoGb34dMqnobNPFC',
 '165K3R9W7p3qW7uK5uTTPDMYczcx5HBXsC',
 '133ZgE8Do59p5LhhjLr3RYmZYCvXaM5BBi',
 '1CdjxQhafPaoiq94BnDzjzVT286T6RCGoi',
 '1Jkkm5aBx6FhLKvndSZZrYoawvUtDgbMjP',
 '14G8Nxv56G2Z1usNMGzLqScVZL44U4jM6E',
 '13PQfYQ5vF3LhkG2jqsmLyK2GDbV8a8mee',
 '1EPLNihPGN1BKk4K9ewmQAnD9yLYNXFozQ',
 '1PVCdH6TkzLZk3pdMjYQsSbtXv87zwd1ZQ',
 '12TcbtNrmctX31xeZHvcBLEZUgmpGXNFAa',
 '1CNpMJwgDtr63CGW6LFz3pGB2nEcd5Ap4v',
 '1UKHcFatn4pYsLi21GMe5GRKUoJGAkF8F',
 '143Ms1Jk4TjVCnVYrqKzPh6xWWob9uLdVX',
 '18KbtwtsDYNCv19p35ZEkz1e5juNK9S6L1',
 '15EiAkP5sTrJox4Dr6Jhx3cpYL5mDmwcJX',
 '1Auej33Si1DcpjefNyNnSoLCr6RM1KN8S7',
 '16HDr1mdyqogqwKi1Ynb9u6qMMNEMVExxY',
 '1CgtdH12sQgHRZ7tStQygoLGwzDgJ2CFPu',
 '1DJqBHFPfxS8yzu4s79w8DSpvt9ixsXmFy',
 '1E1NFE178bbcWcF5gskSBmh77YmGhjeyDz',
 '144AU55R1CHs7pQLC8Rd1nh3jjkfqD53Vs',
 '1A38Wh3omNzrjU7L2ymHvvSsLT1ZijwtN2',
 '1A3aR4FvDEuvTiyGP1Sd8J2YeLnxr4Yaeh',
 '18Mue5GAicxLPYk9R9wxJcDcNkoe7vrGK9',
 '1HE9qSpNNunoyNF1AY2NChofNaQGHMh12Z',
 '15DHQXr35CUprAhS2FoQE7QU1k7X7wh9AQ',
 '12fYJn99k7mNhDFzCTpD2THFoYyjF1NyGA',
 '1ri9zBQFW517gSZorBs6TipftSzGuBMqF',
 '1Es3fC4QDxTagFzANJo6fnX7WMmsarPEdZ',
 '1K9KuF1CovHqQ8FPwqmN7QgXSVkQzAo2E3',
 '1EwJhs7naxvqjMWn746HJTSTkkqncASgmF',
 '1NoseMAwSzEbDz7p2CjwdVPpybUmXzR3xC',
 '1A6MZ1ep9LCzQYFpBX2uavjndX8LHPpE2K',
 '1LhuPWT7n53Q1ABKwAWsxknsm8hKhJM7Ku',
 '14SDkN6pkyq1U71BAXZ2bQCvez9VyZAyvF',
 '113KWAr4FEjjTABa24gVNyqCg4iAVhhgtr',
 '18VXWMyf55MLXAmDgwQvxEznqoMP1USR9r',
 '1VoTdqUaGT8heJdtkWVi1Rqj4UnDjzbBe',
 '',
 '16D9sWQkQUckxEcqjdjSFTnKJx5uyvdapy',
 '1DK8bei6TCgnGZkdci42UCpoWnd82h8cvy',
 '16SXuhvaEGSx8qHEfDJjAucZevUSgH3f5Z',
 '1FSMzJWEpwy68MhkottofK9TWTypAcvphu',
 '1A3z59Z4vYswJnvME7PyYQE9jURBFvQ36M',
 '1H82n4hTgAUGnHm6GNHmFXc8pWuLctFGEa',
 '18uXP8xfFEpBjVR9TaZCF3U55D7h7ty46A',
 '1J9CbDYCNAkm6nYQ3zfCd2QkmSdfqjqFn8',
 '155iJKdVBwB8ZeoNSq9GG8qXPrqUuNsKKA',
 '1NZoMfpo6MNNSXKNAF5zgBPgDbFbJZRsPD',
 '1A3VnpyE9tbU18dmZK8iZetNcsWujBqpys',
 '15hdFs9VvEpYWK8JMDHDTzmBGpQFQeZ9P9',
 '1XusnuRet9Vg48nyGmz9kxckDQGwCgqxN',
 '13ePGVL596a5xtiFuJ3fJmA7Fe9rB7yBM3',
 '1JAJdPvUeUKd6UUhoCCjGvbzM4TcDfsBjN',
 '1MmSLtx3stnA1TMmNyx9itecozQza9Ah1e',
 '1BzmdhwCwjz7ixugZSknj41TdZjaWNVni5',
 '154g2Z9uBAkFKG7kZRdmeZoLtP5vfYLysj',
 '1F2pcokXggsTHoq8Vt5sJy3cmyMkNSguqv',
 '1CeuCdZ1NV8t8a5qZg6Xib1ksVKWNMSs2k',
 '1BAfgMeJQ4f275YDyKF8JcmfWaAg5Z6wtS',
 '1ABqjseC1G4qzCiLWsgKVRmwjKNhkuwMaC',
 '17AsobycVRGuU5HrSP3aMxYnCfLimP9ynw',
 '1ByudqPmxnsYABLvNuTqqj5SMbU8PMPtvD',
 '1GNWoP36VNuNVQU1iLwxqH9X3RBz4wyLy7',
 '1eADAyWqD64fqxzeCtrXBBaQCTvm2kg2E',
 '163DWjcwGsrN1Kzgx8XpzeryBs53u9krnG',
 '155uAAgYojmUNxN9mtVLTcKChgPn3aZ2Ye',
 '1AD7nGfJ5tkFss2848TzoXBqCBhv6fBQcS',
 '1GBC92kd1uMAURGzNkMLcVfzfNj4jGaVB3',
 '',
 '12cwtr2cRQf14TZtQA6jiuZwKbokxm9HVB',
 '14Rbs7tRDnq62fA3Z9P1mHVPt5Rz22xWD2',
 '1NpjKLG1BGdmQzMrm4RVoAKUbeHH7VeuH6',
 '1NVQs7SCFYXAyPtJrtZBxFn7giZbV1ckx9',
 '16YpWsGBChp3YYZxWJp68DW5YB5YdygnZu',
 '1Da918RurpfgTnDYAuiXvkgfwwMnEESMBC',
 '19iDDzMJy7ycm4fnKgaBz6kpMftUaU4vmi',
 '1AdS5KYXnwTQhMwmJ3t6DZfWxuouiX9tUw',
 '1jW9x26GsCtpXb9eRc8A8sMwtPh6b5cVE',
 '1Ac5r8wr54tCFG2GnWUjVVHYqjxgCKfbrp',
 '18SeRFLJwj2SWGm3pueCjzu1gzcT4Ztm4C',
 '13zPrZ4bgV7LJ2EXLYqtoUKUBTHwJnQL3N',
 '1LZc4LkQF9SxXs9d5p2SApAbMUV3dMtGEc',
 '1HLtFaAQaxG4AyKohwM45C4UgmCZ3Jxn4z',
 '1L7ae1fkjz7FNMhgX9CScfNe5LY9mqqt9J',
 '12QoJEaW5V1i4Bwp81ueYuBaLqySSdaEVa',
 '14qi5pR7bT8jJTmTvLzaE56kZRoFHFyupf',
 '1HvQhxPDjZHXVAcpSX6L5KH8ycTCUpiQfi',
 '1CRXBnn3XvQFPh5QRxr8tGBxCvdXdEmxxh',
 '1A59sD6mTdXsLFFQKjFFECGFCGUgP3EASp',
 '1FmYLdzFNxp3915aaQakUjQu1BPAKU9bbj',
 '14BoRpSweXjEXs2rLsFSink5zCwANg6fEn',
 '1MhhCos2oEWWtda6dXpkkKB19NmQHfPLpf',
 '1Amh6MY4VQjqgrbNsnHj4yixcTuWqBHfxJ',
 '1L8QDBkW2NR46b89PkYqsxWkxuc2Qg7K3n',
 '1JcUKerN8pUfGhPa5ir5LSeUALSoK7KxcV',
 '1938Dyihd5iMKPLF9qGbkhRroFtYTKBnva',
 '146bJZ674dzucLnuaXbyECoJf6gYfzKBzf',
 '1N1xv5SjdUAb36DSgzYnHrqGNjq4PsrZqq',
 '1EVeQ3KNXDsDbfhk6Yut4rmUdAhBB9FjpH',
 '1Mz2C9ZjaZqwXtbjqUx5r4Qh4fnXzSS8ag',
 '1DfvnumCDFLk8LSacPHk1fCm39seFW37mn',
 '1HFb4Qz9s6PUYBvAuaKPxtgLXTiW76yyBm',
 '1EGcJrGMszTpAetFA5C9VkDwKjafKAf8TU',
 '19jyLy5B7BnPKDqaRGTzaCKCCsTgfWcfff',
 '1DxrztWMCAaZzUGLvYx9BAmKZjmpGTRXS2',
 '1CKs8joHw6xoob15qBNi1oJMBSKbdxWWHp',
 '1EJRbmNJg3ZkVSw8tdjQAhMBTeeK6hCBcT',
 '1MR8b12JuM8MWYFi6yeu25mcf9Tsq2Uo4w',
 '1Dtk2qQuoEme8xjf9pP1gHYNoQUHFLyGAQ',
 '1aneZjr4BvATBD6VP7dq1gyryfB3mwxK8',
 '1CVThYLcVgxTGTNd3r2U18YyRzticAYZYB',
 '1PKMNnw4b1mcpBUcFRH5PJbhjcCA5UmrEd',
 '1DnJT9imUoVVqiiqW9kYmnuxdkEQJC3w7K',
 '',
 '1LRQTQKfRLgfa9QKb67qdmPSdx3RKqjdGm',
 '1sfJBHxNPUwxCaeBkTj4xVFEnBygYoSj8',
 '1EZ1vPb2qSE4zLSZhVxpvLPFFNweM46PV5',
 '19XAJckNZ2gxjoomECajBBt2Pi4ENCEVvX',
 '1AWwWj9syLmqYdipN9hnM9a5vDNbcVFNrC',
 '1GkPgXoupbfLqW25qtrDwdax5ytDKNMNfF',
 '157A4chZktDVTjcohi87hSkK58tT2PmcvR',
 '1GYTygPXmM29xWnQbpHyi8UoodWWAG45UE',
 '1BFAYktoSDeSeJkAzacYtnYw8b1gPESspr',
 '14REtF16rnJcpsePFure19hWWuS5MY2aAE',
 '1CF9BZJmEzLrGDokzBTntHNTdrR91G8Kgm',
 '1KqKXKsiKGsvoJCm9Dd2EJzEHbj35jMyZg',
 '1GbDcWsFSkpmWgbpdfuyd11ygMWaNBLAPR',
 '1MpanKxM4TYyivSkboivHFMcGD4QVhqkQ2',
 '1Ds2cphmD6HzSaGWNiiCoLJpVXqBjcGEWA',
 '13sthj7mwUkpsR6oDUSDwdgodNxmSbCe3R',
 '16sSmYjF27cLdRHLCTph31V2sY8XNucukX',
 '1JUVg1wVccRGpTTTSkMNvJRxc2P6dAntG1',
 '1FwjnBHDXD2QmEkrspSkgzq1U9H2ZcqyHX',
 '14jMjLqEjhw7ZRiu8nUYHyHBnf9AzoaWjK',
 '1LFYKzWa8SmiJDuxGTVrEHAgpbSK9LcRhE',
 '1KJtM6RxL3Fp2Kkm7vpAhXqrovqp7SK8fw',
 '19LosFFZr1qhEKAVG38koTqaJ4tyZHncuu',
 '1EVc27MvXfGaYa24RUE2Eb1L7se2gjKbu2',
 '1HqH2oGexEqDQSUUq5W8NP3XKuqQsxaK3u',
 '197n4pZcdTgzeW38HFKaFdQuezdhQPLhLT',
 '15Gj552rP37ocTSRzCNcztwiDdHpby7HLu',
 '17MDtE7JnLRvSxhd9YrLst4YixksQTYULB',
 '1ErTR8dxgKS5esMcYadCPGsvJMeisVc9yk',
 '1E3ysBeGrJ3iwVsgiwYD1Yk3tRhzKaZuy8',
 '1PsvLLWSmcuaq2LnH3Zc2j8wrmz7L9i3E9',
 '1CdSHTfRnnNXLtyiGPFtqKFZkYCdW466TQ',
 '12VvVN8CE24dXnesFrn1Z67sfGqWV3ArJQ',
 '14QPiqSREe5XTbqyu2otZFbv5PzLKbgjHU',
 '1EDEiZCFX4sDg17oWbe5iYJYb8ohw5QfGR',
 '1N9X4Wdqd2aWu21NxuPioB2NpmxHYcgTde',
 '13zPVc7kNp9JcoTmXfDx2NJohDkBiZRH9j',
 '1BfXNkaUAvdrAjCxxu6S5j8aLc8HZE1PYc',
 '1J6LLJGYAE8pfHN461KdJjPM2tt6mGii3x',
 '1MmTgTuepgJf5kZFUffFS6tfiNQ14uMjUf',
 '19DoKxUBSCkcBbx7hXxB6x7xQJJEzJaKS9',
 '16TfPND3UvdeXFujZqBL2BTey9ikitKVS',
 '12vuPELEepyWacMXEvH8jA6GWLVKPfeeNj',
 '17sy7nKTLobkQa3nbPuCxz74DBGvHwVGXn',
 '1GFFXhHuZGvd19uVeERTEb3pP5v7mcMYJV',
 '1A9ikuiGAAfXfBjwfaRCJ2cUZpk9vaUvbq',
 '1BXFEaLnUnxfd5Ebn2LKCJsBkpPxH959ts',
 '1PtAo8uGihnDLyXpmMngEifUfYCPfzzTYE',
 '114rHaYbg1ZkgXFgFH9G22TKTaTLurp8uq',
 '1MCvvS2vazVQdfCtuJX91szAagWSLUiH2r',
 '1Az7KcG4JnKcNYj2nFV6iXw5hrcBj12zDd',
 '1qbw91qgf7RzSUoAww4Drs48iu2zVUxAC',
 '17TmhemiuZeRwbQVF6LPHYwdBegE1eb4YY',
 '19kshS2B27xaWqVkDET5khJcMAXwKuQsc4',
 '1D9JuH3cKYjciUTeyZWTSPVgMWcaTrxwMs',
 '16M5LgAqLLwhwxyPTDPjCSEUFE5zEL1pzJ',
 '1N9EyAk1YrTMjZKzKU3rYfdwurgino3RiC',
 '1FNkSBCLBUksDWLZSDh48a1yj4ndtrPETM',
 '17DzxEs6r6MKa244iB6zgy8APsqECnc5WF',
 '16MhfhBdtU9eowLjC96jvFbwWCQbCJS84p',
 '1CL2SKmBjP3Ms3SYMxWU4xKDG2rQ1HkXj5',
 '1PPdXvcMT3MvGx4wQXMJhUrLv7EUDRiMph',
 '1GL4GNme4FFrNkZRALKfFm3xUsZTzFWGya',
 '1GSk57tVtbpx5wkQ5FydP1qowZcYEtLXGC',
 '1KrxHPHEgcpmF5kaiiHFJMZZL9snfTPgBV',
 '14P5TsrxMV5BfKbPiUJeXMEmz3mCmvxgCU',
 '1BcFPANsMumeTwnhmJVWvYki6DVdHGSDaH',
 '16pfKoBDSsFGg3DfTmV6WdJuLLKgM3Rs3b',
 '1DDjmbGRQfNyxLYCK9ScVhkAEsTZZDRHJK',
 '1C5P6PVkfPK7PdJF7RimXGf96Qm7YY2tXd',
 '1H4VUaUJfXKeSdLc8pGdoWou7BJbFsxPhM',
 '1BUYgLVGT8SadQiPYDrM1de39kQzQ8JktP',
 '19cwNDdMiBVimeFsBdRSBb9SubEkEFasQA',
 '1As3syUJd2fn8JxkxJQVQwt2ZNjtduDXkW',
 '1NseKX4WjZ2PrMVUL69x9BJ9muMF68dTvV',
 '14zyEdJZHygGyoojpAvebKfdFbGsun2cgE',
 '1PWMb4ugPdgeCnxJmyR3MvWrVbTWDKVg7W',
 '1LGjbMZ1kJRWARqgXTSJkoEyzwYPCogAwf',
 '1Mzq6Mji1Ei7Xa25tRdSPoDhNXum2uRGfU',
 '1ADEVHdKroPuaqJXTJn4pWSC8KWWPZtCMM',
 '19ZtJE4AeiEUUobiJ2vyvr6EYePzaE7cJW',
 '1CTqDzsG7f1pvQ3urLPNpoaYyx48y1dmo5',
 '1C64vbcUuvwoRYvMLAyCaPrmmxfnDNFxiD',
 '1699ym1hGT6HDam7JpXzMPuCsragx56KBX',
 '1B6WYpEMZFSuSgGivAtrwQtT4zokwaauoG',
 '17nbT6nAg2pioa6yYTAY588yoFgvkKBzYr',
 '',
 '1Q7EXDAF2FPqHbzsE4etqBHJHE74V8BGSm',
 '1EZdxdHKEcLjE9fhkdhf9vBrEYT5czAZjK',
 '16RNoNSYKzviSrRW9k4oViFYMeesGBM84X',
 '1LYSGetbgs3C4Yfkz4GAsc6ch7VUyKN47L',
 '1KRvTMo52Nmjb2CZgnYAsZyKRBQddJH5eW',
 '1EmvJf4KgdmZnkUgp1DjzghNdQVx9iWg2T',
 '1FDV8w4iDHnhipEATcJnRtcQssiBsTmmBu',
 '1FfQLmteRWGmwCcXyZtRTtAvirDAMbYpXG',
 '173TTh4isfpnnH31EchRZKTZQQmcZt5j11',
 '19Z2fLdWqezzMimmF2eRVJ6BBHNuu4wjBL',
 '19Q4FvHvXCBZGxwomUtq69FuA1s7DSoMQe',
 '1A1TzGgEq3REXgFGo3RcC9MEc1beXZ6dfm',
 '17T8UjL5xpRZiUfAGQr5hRPW5B4YoUWeyK',
 '1Kba5weSYF6oT3NvE29jrszzQzy68bzYxh',
 '1PDm8m4o3myBfoA69AiwvzFVst5PZotPLW',
 '1LSqVyyye5qBmvkfeSHkr9qo4E43aQcMAh',
 '1rLWQEW3NTFXGo1m1S4mR2UxYCdf1xSei',
 '1NUnrxsVbS8Sq8NaBw63PKcM6z2heVvLmg',
 '1LwBiZqn6d3AiDpXvU5JmesopCd8odFYnE',
 '1Mx1RMrcEXGj9ekZ788AurEeUeV9NH86fL',
 '1Kf89Mb1bDnad5Yh3BNAjKpaArncaH1fi5',
 '1NoMLBLsuWW38nJp3kva4E4V7f4sAxbM9H',
 '1ARUm29e5dWUmZzYt33t7XYSiUonB9reLj',
 '1AHG2GXrGU7MHt1t6aH9Azd4Gmt4fCezoZ',
 '14V39SGrR74kqcVyGS3fH2z1w8ZVJUwVKP',
 '1K4h46JVEUz3g9J4QiYm7ebLpAWsvMWA6g',
 '1QHpAJaQfbPrHagqUEQTJAdRnRfcfQ47LY',
 '1DkHkW2LhK8LpksTnSLN5pRtgzSeYazpKx',
 '1BqY3hU83CipeuaEKvHm7NgBn7iG7dSPQK',
 '16Yymyd8pB484uY6JZ1PJ61eQYJ23tAHtY',
 '1JERHF5noNqkkB6LJK64DHXGXxvNwns6Fh',
 '1MF8H3oUZvcfQYH3AaGwVGFtijkwPdp7QW',
 '1EPCcpXXq9VQnkskfzC3stkT356oZXPg6m',
 '17ckKSCFumVXdwveuJZgf6aJJQdD6XND6q',
 '1hSywfMZsnjhhoYKYBFwe77a7v4z8pCoq',
 '1H5a3jsgryYFdvfB9KUK24sThaNr9GzxTu',
 '1Efes3cc9rY9drKv7kExteAbMaj3gKNBRF',
 '1KHDjK1mm143xdL7kqqquS221gUCHW2Frg',
 '1K4kiFjJEw7uVdXwDki3jMSVxUCwRTG2fa',
 '1GA94gCKb31dJptiFbb8axrBYT1ibwcaH2',
 '12hnXxJ9e3K1vqTp2KrVM5SMbH7961yy32',
 '16xastC9L4dPKKdjnyjSgabQcwqX2JhUW6',
 '',
 '1PQ7fAo5uA9UwF8LoqB9Wp3LxXWeJGPFPx',
 '1BkgQk17CcHj9Gg2yHPJnuMdCFrTcF9k1A',
 '12g2hqYthhDMx3KmVCj6GUWoidZ1Wtp3V9',
 '1JSKBCtSwVpUogVMmoFX5qUHSqWKSSDTFh',
 '1JY3JzCqws6s6hVvKg51UE4kQ1JjoKoTAC',
 '15e3WgjCSz3jFrj2z68N9ULto852AhQL7L',
 '1owVVUkW9pi2ygRT1jCLiVRszFt5YyTJd',
 '1PcQtYHq1BLqHdGhamzvQtDBGzrbYxcgJh',
 '16sA91ykQ67ztSHzpmNpteAVQvBZ6jFZAV',
 '1LwnXMVjpZoPezdUDuGK5pcVUVWcXYJmhu',
 '1QJMW7xT2u3sYXSmn6RQZkxrkcngrGNfS2',
 '1AoKiLSV2cVu4cLhd1ZD7Cwbf6dE1JTTW7',
 '1Mi2tNib9qSPvJp5aex51nvH6vqQCYuxaE',
 '1BF3MiBdeYXrhHHTmYt1jFPfLYdVf2qveo',
 '1LisCjz6TSU5mHP5ue8QKrD8nazTTHp85',
 '1MWQoVUcC7NtoZDvGiXcWX7wmYVMDBXuWC',
 '1NJYXg5QcRfCBMxMRxC4HZ8qbA2SEW6BZ4',
 '17hafZnA4nstb52zKH44uworR3eNi3xhyq',
 '1NpjctKLy6W8gPwXZQ5S43Y1HWVEbV2F8b',
 '1kg2i2Xd3oLcvpRF3BFfkUeUme1C3cUCM',
 '12EykJepsTXJhsDkf8F5n1QntfuMPRBj2F',
 '18GFZ5BaxEFkAm7YxPu9FVvKUwKXnV5zW',
 '1HZGUCg9jourLN5vvn3bFjJq6XfYN2oA63',
 '1MCBH7bbtncxNH3fByz8MdyJy7Y9KiifKx',
 '1LP6pWayDwUKmwfyGLm2LW1J5jZh1451sd',
 '1E3um6FrfWCWmQRxcY469XHuWGRvQqEKmD',
 '14KFjsKMv2jB7215vP16Z7MCgADWjfQbGE',
 '1myb5Hrw4uYGYdmfwoxCZgSMRcs82bqw4',
 '1NAg16WnFcWp6ZusgypycF51B14sf1bKTn',
 '1P2nvQjWHSWGGTbS4JoGk232nefApZK8jC',
 '18Pgru2M4EsbER1krFwxbvZGkomr33eKxv',
 '14t9vZZNyjmLVi5ETmj8yrGGXrjm76hLQK',
 '1PxJ5JsqKNixkHsskYrANRPnmkJ74b5mZn',
 '11oXD1KFTbP5e598ms73r3icmrjFMHrwc',
 '1HFnCkqyAX4AwEF3Abu8QskbB9f2z9Y1YB',
 '',
 '194hsmuf1hNr7HQV2LAeRBxQ2sCFpPiNAf',
 '1AtWFaYBmyDqsdMopdmuQ4sviEo9Rj5RQK',
 '12hb5eoZeXTPk3BP72vBYbSsu6EiquQWsQ',
 '18oRnebqBAKCKngJMCJSno1FzjjLQ8QfrX',
 '1NXaRkrtvRsdiDPs1gvCVqzCwS59wfxgXW',
 '1PUzBoqLs7fAyCPpysqWh5UqixqHfqokYK',
 '1NE6VhnSXAfqzZ5VkWQQA77SQBsgpbJR66',
 '',
 '1N7QV3fE51ufBzWNVKDCaJWmwE9i7iTm3',
 '1EJUufUdVjfG1eAx31B7yoUB1cEQeaoHPF',
 '1KqCgduJ8HmR3EkcqHUvZvcdx38htQDTZt',
 '1Hz911UKiDm2zn5uhrQeMoYm5zKsHG9KC9',
 '1CWujZW5bWTnweXWnVB6LkPw8PMTeWUeRY',
 '17nuhMX6Qwi22K35QG26WHo7X432jzNf3u',
 '17z7gLz7xrhPw4CX51LXnh83XA8GaumDCu',
 '172Lt4HkfbStefnuRVHx1EBNu8PM1wqZts',
 '127jvkBRtEYGpkZE8K8wTfcijTwpVz5nYs',
 '1JKdgztpeC1Caa5QSQohUrxzXYXxsHB4eC',
 '1JEdXFMpLrW6krzLjYeUdfsAKmnf3Btcz9',
 '13bjfUUsE7A6787SmVM3cUBDc6HdsfuxYw',
 '1KG4516q6UHejAFqumJ8ufsXGXSNxsv6Bv',
 '1Eh6XGp53Gwvndb5ruCrUuU4CxjfU7EDbn',
 '13NmgMPFgJjYaPeSvjw2y5cLh6jxRp9ZJo',
 '16YrX771z5FiQtH3bRvqVDWYgpheminEYc',
 '19Zb45zNCeR5CRGscL8wQyMTTepC84Ziao',
 '1BPVQ2teN59fu8ScqPQkvVxZe3c7SsSPhQ',
 '1HjeQMfTjd5H2zPwZCsAXmD33UJQYmsxxQ',
 '1BVAdEKfZ1g2cEUsSogpp5b4CCfEpvPQvM',
 '1AMRbCSe9dGPTUWSYyRyAxEUMwyTegvrf6',
 '1DX85rsh3yWADxpjXhDz7EQyGFmxRUGAMe',
 '1JEbotLsUGJvaQpbn7RKyWgGjGHHvWzhJT',
 '1EY9fXD7D6RSJaXUAheT7YGbCxkEgX2HvK',
 '1FvhcpdCyPPHFpBT6SmKL1qCet7dpJioLx',
 '1JPU7ECJRykNEossxFdrb5W5eKrCCmCxxP',
 '134RSK1UnQMdoqtE5Tn6gcbYvL8A92naK2',
 '1A7o2epYb33eBEuVo3jS7Bpt15G1Qs8iZZ',
 '1PkmLGotjHys2xLhu8GSfgsH4ZWRvVuMkh',
 '1Mx4tiKtXMFVk8QHh3b6PoMZGcsf6fqujz',
 '16uADgScPNoFHfoTZRogtauY6WfUXfK3Ha',
 '1763ARpjrbmxgCxuQM1HMLv8zLiCLZaQDX',
 '1Bk3uE9aRRnCqazyNimbqiqBBic7k4gkDi',
 '1AsGcj1f2MHvTNNAAtptyHnoRVgfHKJcRp',
 '1E2LfRGmxEUjKcoiCSBMm3YW5bN5saLjkQ',
 '13dTwrLw8E2HDk9qDZ7y7kn9nACk4R8qGi',
 '1PDLNdCbRueuhiGeMV3kvoWCU4QEYT4Tck',
 '1KM4s9disav1aGE42u4UqTfvhvHo6wTRgi',
 '1BsvCGkPJGpAV49gAZBFL7GMedczuE9ZPB',
 '17dLcqaEqG2XiQZR3441gCpa78KwUANukr',
 '1ETN4EUPTjLnzkNjAHyzZuEk1bUwjL7uae',
 '1991hytXTdKp2P8iRmLNsDvR77D5BLQZYJ',
 '1ByLoPYuk5Y4t2jCck6pyRMacJGMh95PWD',
 '1B7qKWxfvKsS3EwMVVs9mAb217a2k4QPnu',
 '18UEBKbrsVhdDH2ijHSbpxwKfjErCSHDEg',
 '192nWETjB4y3GUxSJ5dxyU5LGkcRRwmCNF',
 '1N84zLey5ZJ8L5G5ubj5upCThAieEUN1Ls',
 '1HzVg8DS7ASwCktDMYYx8sGAu6pKKZJZTE',
 '1LhDgWnmMBModoziZnKtACu1eEjH9HpLuD',
 '1DF6t4YbQJDDw3iioxVNpmJjjq2j1PuHHz',
 '1DjaxG7KYZLfeRrAHBsc4W18qsWUDWBVsr',
 '1BQKzxP4Q7KSrC6ugmFapoLZ4ipepsSmLL',
 '1BrZ6Ecdp19osmR6p65weySWqev1xnnrac',
 '1ExKadQoYUdsL35qtrze6HdThgb745gk9t',
 '1DV5xEhmz1f8H9iFTEKdNg8jb3NGp7VW5k',
 '147w7ZE1aP4NVRk63R4JJJEBFeEKkhJPfe',
 '17fzaqqJfRsQAu5JpersCLUB1PqdRDyoXB',
 '13GR8Cs8fUUD82JfyqNaDwjupdPyhTYKwj',
 '18zbYnJ5dhm3GAzyP8FkvJaa8mP6ZuGHXF',
 '14ZQpmfdgk4RAYwKp3MwMnUXTxka6zDBnE',
 '1MkW74jtuvCvC5U1N4koyq6HLKwwFMhUyR',
 '1Bi2xxJvYmTi5frhr2wBJH7L5NjGwyrT19',
 '124k59ppGNdSYfkKfzxwsHuVdUXvnB7uPB',
 '1AwQa537Q7qVuxH2qbgjzios3GWLm89kFX',
 '1FFF14uvwMsw3xFSDZoVwks3pifzkXKv1E',
 '1MCv96c1vt1B1JbzdYYcy4vsPjsnF9qzhy',
 '19gcbQiBJyw3YXxDZjFYqtM6hZVB5G5ESH',
 '1C3z54FRSV2dXeN7kJDCzBE4duhPi3VMzT',
 '14fanXqNds2Eic6NkDp1BnHa3M29ruKm8N',
 '17S8k4PwCjK77bkMoji9EfKrsVU9125YR',
 '16C9ZV5WwoxkrHiVKpJ6JLYKLsncqsuSLz',
 '1Pdss2KWF1L6S1ZYn85GCaAbou24AvBwMF',
 '17dM1WsYM9qw4mooZDTajFKabAUNGhPkjh',
 '1PoUBDUUTreTMQvEq9dComunicr57pdMp8',
 '17otbHv9iUkMX6MzKCyYHvfmVgCHdzwTLF',
 '',
 '17ze3fvDtJrLb4scEo6oShtct7dBLMBKD',
 '14C2D1B2F8kQA2PDd4uaTpWN6WNis8EW8s',
 '1GhPVxi4MyXac4vrtowme1LyPgWdkSZ3Eu',
 '1EMHEqEPYBitvRjDFBj1Vx7vzgbEdMiJrC',
 '',
 '12n3FWEhD3DCTTYgJ8eP9a2FNFrpUxDXNK',
 '176BuiScRsELNDXyVFmndJp8EhCVTHBGKN',

In [37]:
grader.check("q03_02")

q03_02 results: All test cases passed!

### Question 3.3 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Complete the implementation of the function `extract_emails`, which takes in a string (`string`) containing the contents of a server log file and returns the email addresses in the file as a list. Example behavior is given below.

```python
>>> extract_emails('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
['test@test55.umich.edu']

>>> out = extract_emails(open('data/messy.txt', encoding='utf8').read())
>>> out[0]
'dottewell0@gnu.org'
```

Some guidance:
- Assume that the usernames and domain names in an email address are alphanumeric. Domain names don't need to end in `'.com'` ‚Äì assume that all parts of a domain name, including the very end, can be made up of any alphanumeric characters.
- The returned list should not contain any empty strings or the string `'null'`. (It likely won't by default, but we've included this instruction in all four parts of this question.)

In [38]:
def extract_emails(string):
    pattern  = r'\w+@[^\,|*(\t)]+'
    word = re.findall(pattern, string)
    if '' in word:
        word.remove('')
    return word
    
# To test your work, first run:
#extract_emails('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
# Then, once that works, uncomment:
extract_emails(open('data/messy.txt', encoding='utf8').read())

['dottewell0@gnu.org',
 'bassiter1@sphinn.com',
 'dtitmarsh2@dailymail.co.uk',
 'mcolliber3@fda.gov',
 'ohachard4@bbb.org',
 'aaikman5@cnet.com',
 'bgiovannacci6@theglobeandmail.com',
 'tbritton7@nytimes.com',
 'dcheeney8@mail.ru',
 'kkordes9@prweb.com',
 'bcottrilla@gmpg.org',
 'sdoumencb@cbslocal.com',
 'fandreec@nhs.uk',
 'epaviourd@ameblo.jp',
 'wlongegae@disqus.com',
 'bofihilyf@house.gov',
 'slinceg@xrea.com',
 'kdumphreyh@hc360.com',
 'mhowseleei@vistaprint.com',
 'gseelj@reuters.com',
 'lcroixk@ocn.ne.jp',
 'wudalll@engadget.com',
 'wmcdavittm@comsenz.com',
 'nalmondn@reference.com',
 'cjesseo@mail.ru',
 'mlibbeq@telegraph.co.uk',
 'jmacgorleyr@rediff.com',
 'cgooks@shinystat.com',
 'tdipplet@apple.com',
 'lwarinu@shop-pro.jp',
 'slethbridgev@java.com',
 'lteggartw@dion.ne.jp',
 'ecoulstonx@networkadvertising.org',
 'scheccuzziy@umn.edu',
 'ddunstanz@cnet.com#TTt34W5xdc',
 'fmcgooch11@joomla.org',
 'kgommowe13@tiny.cc',
 'sgoulding14@cmu.edu',
 'jgrelak15@blogs.com',
 'hcuddehay17@alexa.com',
 'csussex18@amazon.co.uk',
 'achippendale19@feedburner.com',
 'lskerme1a@ehow.com',
 'gpeeters1b@freewebs.com',
 'gschrieves1c@infoseek.co.jp',
 'kbrugemann1d@skyrock.com',
 'cdeerr1e@state.tx.us',
 'echaise1f@ucoz.ru',
 'wbartomeu1g@wikipedia.org',
 'ptheunissen1h@nifty.com#YiNoxXQyFsiC',
 'nmartyntsev1i@sogou.com',
 'myukhin1j@livejournal.com',
 'ashimwell1k@google.com#TXoo4ysJ2zWW',
 'afolbig1l@paypal.com',
 'mfranceschelli1m@google.com',
 'tgillis1n@skype.com',
 'gaery1o@ycombinator.com',
 'jdavis1p@zimbio.com#soyUlgWpYp',
 'gbromidge1r@tinypic.com',
 'bdupoy1s@wunderground.com',
 'shickeringill1t@whitehouse.gov',
 'ameachen1u@hud.gov',
 'slaffling1v@npr.org',
 'msulman1w@bravesites.com',
 'msails1x@ning.com',
 'jconkie1y@i2i.jp',
 'jskyppe1z@etsy.com',
 'bmufford20@census.gov#a9nFSvYM40r',
 'saxelbey21@vistaprint.com',
 'gdommersen22@wikimedia.org',
 'dbalazot23@hatena.ne.jp',
 'lcoo24@free.fr',
 'anix26@meetup.com',
 'kcoster27@prlog.org',
 'lspringell28@biblegateway.com',
 'pswallwell29@ycombinator.com',
 'ywearden2a@senate.gov',
 'elamborne2d@tripod.com',
 'xtothacot2e@fotki.com',
 'fscorrer2f@ted.com',
 'tsondland2g@sphinn.com',
 'dhadaway2h@instagram.com',
 'atschirasche2i@google.nl',
 'sknoles2j@sciencedirect.com',
 'sgager2k@hud.gov',
 'tdumbelton2l@multiply.com',
 'ddowty2m@google.nl',
 'tcottom2n@theguardian.com',
 'rsimms2o@vk.com',
 'landriveau2p@cloudflare.com',
 'csitlinton2r@youtu.be',
 'erowledge2s@wikia.com',
 'wfilippo2u@elpais.com',
 'mminifie2v@github.com#qn6iFdxTu9',
 'rcallington2w@amazon.co.jp',
 'ihuckett2x@ucsd.edu#mQY2iSDUT',
 'sgilardi2y@hexun.com',
 'skencott2z@umn.edu',
 'ddany30@lycos.com',
 'rarling31@taobao.com',
 'bmccuaig32@ft.com#0Ywp76zV',
 'hpury33@yahoo.co.jp',
 'bziehms34@smugmug.com',
 'gadicot35@cbslocal.com',
 'hgorstidge37@g.co',
 'scruddas38@slate.com',
 'kbedford39@google.de',
 'jrussam3a@photobucket.com',
 'tianne3b@rakuten.co.jp',
 'yokeshott3c@opensource.org',
 'rkinvig3d@admin.ch',
 'krubinlicht3e@hud.gov#7wU71pmV0pIc',
 'mdelagua3f@ox.ac.uk',
 'lpregal3g@nature.com#75M3OMV',
 'ospawton3h@php.net',
 'edeeny3i@google.cn',
 'peaglen3j@biblegateway.com',
 'bperigo3k@yellowbook.com',
 'jjanosevic3l@stanford.edu',
 'mliffey3m@theglobeandmail.com',
 'lhinzer3n@go.com',
 'pwildash3o@fastcompany.com',
 'bmerry3p@wp.com',
 'rrapp3q@jugem.jp',
 'hsumers3r@msu.edu',
 'cboshers3s@linkedin.com',
 'joteague3t@illinois.edu',
 'pdey3u@virginia.edu',
 'mmcewan3v@nps.gov',
 'smattiato3w@geocities.jp',
 'ggoody3x@dailymotion.com',
 'bpetrelli3y@163.com',
 'mdemetz3z@statcounter.com',
 'atrinder40@devhub.com',
 'awoolbrook41@1und1.de',
 'dpawelski43@about.com',
 'ningledow44@discuz.net',
 'gdrohun45@tiny.cc',
 'hbreward46@sphinn.com#PRn20LFJSnto',
 'locarran47@e-recht24.de',
 'pbattista48@princeton.edu#KhW5uyEUicZ',
 'amurrell49@goodreads.com',
 'ddielhenn4a@qq.com',
 'rtailby4b@sohu.com#VDAOq50lt8',
 'mreams4c@ebay.com',
 'nfriman4d@dagondesign.com#Yqg6EcSp8i',
 'aiddison4e@so-net.ne.jp',
 'rkowalski4f@studiopress.com',
 'gstiffkins4g@gizmodo.com',
 'csouthward4h@spotify.com',
 'ehecks4i@dropbox.com',
 'wmacclenan4j@yelp.com',
 'wmcilharga4k@columbia.edu',
 'phonacker4l@redcross.org#ImA8sZNOB',
 'cbeswick4m@dot.gov',
 'ggulk4n@si.edu',
 'aarrigucci4o@quantcast.com',
 'kprobets4p@businessinsider.com',
 'pmatches4r@cpanel.net',
 'mhammerberger4s@yolasite.com',
 'gfrudd4t@indiatimes.com',
 'pmorforth4v@ning.com',
 'dlyngsted4w@cnbc.com',
 'vassante4x@toplist.cz',
 'pleather4y@businesswire.com',
 'lkytley50@sfgate.com',
 'dwalewicz51@msn.com',
 'dphibb52@netlog.com',
 'mpflieger53@businesswire.com',
 'mpolon54@theglobeandmail.com',
 'lunwins55@discuz.net',
 'cdainton56@cnn.com',
 'vglowach57@dagondesign.com',
 'ewoodley58@rakuten.co.jp',
 'kradeliffe59@scientificamerican.com',
 'moxborrow5a@psu.edu',
 'tfaircley5b@virginia.edu',
 'jlemerchant5c@kickstarter.com',
 'lblakeden5d@miibeian.gov.cn',
 'rdaughtry5e@blogger.com',
 'nbrownbridge5f@comsenz.com',
 'hswinnard5g@pinterest.com',
 'sdunsire5h@51.la#h3Dn4t0fa',
 'mlevens5i@cargocollective.com',
 'vconibeer5j@youku.com',
 'lpere5k@wunderground.com',
 'jivakhnov5l@1688.com',
 'mlack5m@netscape.com',
 'lomeara5n@tripod.com',
 'avaines5o@census.gov',
 'rganter5p@altervista.org',
 'jtidd5q@ehow.com',
 'lkertess5r@ed.gov',
 'pmullinder5s@time.com',
 'bnelles5t@huffingtonpost.com',
 'ggaffon5u@amazon.com',
 'ehadfield5v@ocn.ne.jp',
 'lpennrington5w@foxnews.com#RNIg7hkaUuE',
 'whassin5x@i2i.jp',
 'adevaen5y@merriam-webster.com',
 'dreek5z@gnu.org',
 'epalmar60@salon.com',
 'cnoad61@t-online.de',
 'avittet62@jugem.jp',
 'kocrotty63@ft.com',
 'mdibdall64@wikipedia.org',
 'ralessandone65@unblog.fr',
 'tfleckno66@cnet.com',
 'hwastling67@aboutads.info',
 'alegrice68@jimdo.com',
 'asangwin69@theatlantic.com',
 'jwoollaston6a@smh.com.au',
 'dhobson6b@quantcast.com',
 'hpickford6c@dion.ne.jp',
 'jclayill6d@eventbrite.com#9yb7gccvOE#\ufeff',
 'faddekin6e@wix.com',
 'sgisburn6f@icq.com',
 'crutley6g@nhs.uk',
 'ileddie6h@google.com.br',
 'ccecchi6j@marketwatch.com',
 'gsmitherham6k@bravesites.com#27rhP3n3UdV',
 'bellingford6l@artisteer.com#e85BCnM',
 'wgyford6m@harvard.edu',
 'tmorritt6o@utexas.edu',
 'fstiell6p@about.com',
 'mteape6q@usnews.com',
 'tlindley6r@bigcartel.com',
 'gmessruther6s@zdnet.com',
 'pkhoter6t@ftc.gov',
 'mspens6u@weibo.com',
 'mwalesa6v@jimdo.com',
 'xlavrick6w@xrea.com',
 'estearne6x@amazon.co.uk',
 'marnall6y@addthis.com',
 'kcharville6z@nbcnews.com',
 'dgainsborough71@businessweek.com',
 'fyurygyn72@canalblog.com',
 'amckinney73@seesaa.net',
 'jseyers74@fda.gov',
 'epetzolt75@goo.gl',
 'bbateson76@wsj.com',
 'twhetton77@msn.com',
 'scaldow78@prlog.org',
 'dmoggie79@google.ca',
 'kdunstan7a@nydailynews.com',
 'lmilverton7b@creativecommons.org',
 'gcahen7c@ucoz.ru',
 'hgeelan7d@jalbum.net',
 'jstraw7e@dailymotion.com#CWYkr8jY7',
 'mnerval7f@tiny.cc',
 'kpemberton7g@cbslocal.com',
 'reingerfield7h@bizjournals.com',
 'dbarraclough7i@wsj.com',
 'gabsalom7j@omniture.com',
 'coskehan7k@pinterest.com',
 'epellissier7l@digg.com',
 'lcrighten7m@e-recht24.de',
 'msanpher7n@multiply.com',
 'tquilty7o@ucoz.ru',
 'htort7p@who.int',
 'gnockles7q@g.co',
 'kvockins7r@tiny.cc',
 'dreisk7t@livejournal.com',
 'lhuckel7u@techcrunch.com',
 'dpacitti7v@slideshare.net',
 'dcallf7w@cnn.com#HkzZNw0xb',
 'hmousby7x@mit.edu',
 'bpilpovic7y@yahoo.co.jp',
 'kandryushin80@cbslocal.com#0r67kU',
 'gbosquet81@hhs.gov',
 'vwaddell82@51.la#UOTcfp#≈ì‚àë¬¥¬Æ‚Ä†¬•¬®ÀÜ√∏œÄ‚Äú‚Äò',
 'sstroton83@blogger.com#umLahk21',
 'skleimt84@moonfruit.com',
 'epoppleton85@apache.org',
 'erattray86@squidoo.com',
 'bgormley87@mit.edu',
 'dkirdsch88@google.pl#ZG91cyemZS',
 'ncutress89@examiner.com#Rcd5IPE',
 'rmolnar8a@cnet.com',
 'cbizzey8b@wordpress.org',
 'hlandrick8c@gravatar.com',
 'mstairs8d@xrea.com',
 'abonsey8e@ask.com#Vp8bLRPlpX',
 'hrope8f@skyrock.com',
 'mtinson8h@mozilla.org',
 'kcaulier8i@hao123.com#LVEndxfV9dW8',
 'atinman8j@last.fm#Oop7sG',
 'eharness8k@google.cn',
 'cregi8l@bing.com',
 'ereyne8m@webeden.co.uk',
 'rohannen8n@about.me',
 'etheuff8o@dailymotion.com',
 'frosier8p@digg.com',
 'bpisco8q@aboutads.info',
 'aivshin8r@google.it',
 'cbretelle8s@webmd.com',
 'jmcilvenny8t@irs.gov',
 'dleivers8u@example.com',
 'gbiggins8v@storify.com',
 'bpervoe8w@jimdo.com',
 'dcotterrill8x@dropbox.com#fxaKjSF',
 'wstave8y@1und1.de',
 'cchasen90@ft.com',
 'eattril91@weebly.com',
 'mgodbald92@netvibes.com',
 'wpierro93@un.org',
 'kgaskin94@freewebs.com',
 'arabb95@nba.com',
 'lmartineau96@buzzfeed.com',
 'hwassung97@shinystat.com',
 'scruickshank98@paypal.com#Ts112Btf',
 'lmichiel99@com.com',
 'mpaley9a@oakley.com',
 'ihutcheson9b@hhs.gov',
 'jtenman9c@jugem.jp',
 'ewebermann9d@live.com',
 'baslett9e@mashable.com',
 'anegri9f@cornell.edu',
 'nsallans9h@google.com.hk',
 'ebernolet9i@tiny.cc',
 'eviggers9j@angelfire.com',
 'mkonert9k@blinklist.com',
 'hmarley9l@fda.gov#mYDaT4klnu#-1/2',
 'bgrabb9m@mozilla.com',
 'bhackney9n@youtube.com',
 'ehartus9o@paypal.com',
 'rpleat9p@cbslocal.com',
 'sbannard9q@upenn.edu',
 'tcorneil9r@simplemachines.org',
 'kshere9s@sciencedirect.com',
 'skimberly9t@angelfire.com',
 'ccrowson9u@livejournal.com',
 'jelderkin9v@goo.ne.jp',
 'lscallon9w@ucoz.com',
 'abrownell9x@house.gov',
 'bkinnoch9y@mac.com',
 'cprinett9z@adobe.com',
 'fdavauxa0@slideshare.net',
 'ngudgera1@hc360.com',
 'wberthona2@skyrock.com',
 'fhyslopa3@statcounter.com',
 'ereddya4@blogger.com',
 'dlovewella5@theglobeandmail.com',
 'eruskea6@disqus.com',
 'mcawsa7@yandex.ru',
 'cchampa8@about.com',
 'rwaddilowa9@prlog.org',
 'dbathaaa@angelfire.com',
 'bmaconab@squarespace.com',
 'amcmickanac@zdnet.com',
 'eastellad@sciencedirect.com',
 'erollinshawae@youtu.be',
 'mlathleiffureaf@vinaora.com',
 'acrosdillag@elegantthemes.com',
 'bbarochah@addthis.com',
 'jpowlettai@creativecommons.org',
 'mcausonaj@economist.com',
 'mbatherak@hostgator.com#HTQ7NzTQCUZ',
 'rlampardal@quantcast.com',
 'dandriulisam@wiley.com',
 'mcowburnan@examiner.com',
 'abranchetao@indiatimes.com',
 'jredittap@creativecommons.org',
 'agirogettiaq@artisteer.com',
 'lwillsherear@independent.co.uk',
 'abootas@timesonline.co.uk',
 'tavrahamofat@wikipedia.org',
 'crakestrawau@psu.edu',
 'ipochinav@photobucket.com',
 'cduckeraw@drupal.org',
 'bcostenax@wikipedia.org',
 'asmallpeaceay@so-net.ne.jp',
 'byarrowaz@sciencedaily.com',
 'mlegalleb0@census.gov',
 'adominellib1@flickr.com',
 'kstarsmeareb2@ask.com',
 'pscalab3@dropbox.com',
 'ghallyburtonb4@sohu.com',
 'eberkleyb5@mozilla.org#KI7fcL4hL',
 'mtembeyb6@mapquest.com',
 'rhuntingtonb7@salon.com',
 'ggolagleyb8@qq.com',
 'kpalluschekb9@blogger.com#aq6mjkKkbLt#999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999',
 'egolsonba@networkadvertising.org',
 'smozzinibb@acquirethisname.com#cr3qPd',
 'ralenovbc@cornell.edu',
 'ilearmanbd@dedecms.com',
 'ksiebertbe@parallels.com',
 'fbrabhambf@google.co.uk',
 'fsimminsbg@google.es',
 'shurfordbh@toplist.cz',
 'rduxbarrybi@chron.com',
 'etottlebj@statcounter.com',
 'rstrettellbk@pcworld.com',
 'ecrannabl@blog.com',
 'lrichiebm@weather.com',
 'cjirzikbn@nbcnews.com',
 'nroobottombo@ow.ly',
 'adryburghbp@topsy.com',
 'istopherbq@posterous.com',
 'lmarrowbr@barnesandnoble.com',
 'sbingellbs@google.com',
 'lpizzeybt@ask.com',
 'fgabbettbu@mashable.com',
 'bmcguckinbv@opera.com',
 'thartnessbw@mozilla.com',
 'rfurzeybx@feedburner.com',
 'adasparby@yahoo.com',
 'kdewberrybz@ow.ly#gR1Qmvkmh9',
 'cbumphriesc0@rambler.ru',
 'abazochec1@mediafire.com',
 'bleathwoodc2@vistaprint.com',
 'ahuffeyc3@mac.com',
 'lbeverstockc4@fda.gov',
 'rclemmittc5@npr.org#mOWyMuv1LE',
 'vgatecliffec6@addthis.com',
 'fbeavonc7@amazon.co.uk',
 'mregnardc8@yahoo.com',
 'rdemangeotc9@xinhuanet.com',
 'agonnellyca@hostgator.com',
 'mtorrecb@skyrock.com',
 'rtriponcc@japanpost.jp',
 'theywardcd@tripod.com',
 'lglancyce@alexa.com',
 'jyandlecf@wired.com',
 'ffaustiancg@gmpg.org',
 'rbingallch@loc.gov',
 'akasci@eventbrite.com',
 'rforsaithcj@arstechnica.com',
 'avarnesck@buzzfeed.com',
 'sotsoncl@surveymonkey.com',
 'chubachcm@paginegialle.it',
 'fwhitemancn@mashable.com',
 'tcollacombeco@sfgate.com',
 'jdonaticp@tinypic.com',
 'rhymascq@cbc.ca',
 'aashfieldcr@yellowpages.com',
 'gviallcs@auda.org.au',
 'skennaghct@businessinsider.com',
 'cathercu@amazonaws.com',
 'dmammattcv@icq.com',
 'bdudhillcw@aboutads.info',
 'bmoylanecx@va.gov',
 'vgwynnecy@economist.com',
 'rlaurentcz@behance.net',
 'kemminesd0@bbc.co.uk',
 'ddelled2@abc.net.au',
 'anewittd3@mysql.com',
 'npevsnerd4@examiner.com',
 'cmuffittd5@fema.gov',
 'jperrygod6@istockphoto.com',
 'djorissend8@spotify.com',
 'fsalvadord9@mozilla.com',
 'lmatysiakda@cloudflare.com',
 'dhindmoordb@comcast.net',
 'ubarzdc@timesonline.co.uk',
 'jwincklesdd@imdb.com',
 'mklausende@yellowpages.com#',
 'glangmuirdf@ed.gov',
 'phurdwelldg@360.cn',
 'lkellawaydh@amazon.co.jp',
 'lwindleydi@pagesperso-orange.fr',
 'rrossbrookdj@list-manage.com',
 'bscranedgedk@constantcontact.com',
 'kbrooktondl@hubpages.com',
 'afillgatedm@typepad.com#srHeY2Og',
 'cgareisrdn@webs.com',
 'cshirlanddo@mapquest.com',
 'jrawlsdp@toplist.cz',
 'sguislerdq@soup.io',
 'bgergelydr@bing.com#aee4GdNHth',
 'fmeakinds@gnu.org',
 'gvernazzadt@slate.com#k2oudK',
 'hbinerdu@squarespace.com',
 'lnowickdv@stanford.edu',
 'esleightholmdw@1und1.de',
 'rthonasondy@yolasite.com',
 'drizzardodz@istockphoto.com',
 'cmcduffye0@uol.com.br',
 'abolsteridgee1@stanford.edu',
 'ccregeene2@dion.ne.jp',
 'bbestmane3@mediafire.com',
 'rwandrache4@zdnet.com',
 'hnestlee5@google.co.uk',
 'jschwandere6@lycos.com#I80FhguH',
 'jkettse7@etsy.com',
 'gschorahe8@themeforest.net',
 'aboggishe9@ifeng.com',
 'kwychea@amazon.co.jp#QgGrVZ7NbfT',
 'lrennereb@ehow.com#pTLPjnlyZxs',
 'cjonesec@biblegateway.com',
 'rorridgeed@prlog.org',
 'zcurryeree@boston.com',
 'rbrimelowef@hubpages.com',
 'mhearsteg@umn.edu#9nluihr0u0FZ',
 'ihateleyeh@themeforest.net',
 'tgounodei@themeforest.net#IXo1obYFv',
 'rexeterej@businesswire.com',
 'haspel@booking.com#4fovyq9qrHTK',
 'dgusneyem@nsw.gov.au',
 'mgrendonen@angelfire.com',
 'aoagereo@lycos.com',
 'nmeddep@tmall.com',
 'pchueeq@smugmug.com#snPkVNF',
 'gleechmaner@engadget.com',
 'mpitfordes@walmart.com#',
 'hmcdermidet@godaddy.com',
 'kgiraudyeu@cnbc.com#ZCwE5Z7LVpPR',
 'kgilbanksev@over-blog.com',
 'cmcandrewew@oakley.com',
 'ibattenex@blog.com',
 'amaclardieey@dagondesign.com',
 'aklawiez@who.int',
 'gwhitnellf0@youtube.com',
 'jtoomerf1@princeton.edu',
 'khimpsonf2@instagram.com',
 'grottgerf3@ucsd.edu',
 'lsporgeonf4@nhs.uk',
 'priochf5@alexa.com',
 'oroddickf7@theatlantic.com',
 'atarbetf8@cpanel.net',
 'amelleyf9@ycombinator.com',
 'dfernandesfa@cafepress.com',
 'cswaitefb@salon.com',
 'deilersfc@blogs.com',
 'btheodorefd@chron.com',
 'ahewlingsfe@ihg.com',
 'djeavonff@cmu.edu#6roz1Q',
 'mdjorevicfg@topsy.com',
 'oheismanfh@diigo.com',
 'bmcfaellfi@nature.com',
 'eswadlinfj@hexun.com',
 'rolynnfk@nydailynews.com',
 'averrillofl@istockphoto.com',
 'nmathevetfm@feedburner.com',
 'rmcknockiterfn@dyndns.org',
 'astrowlgerfo@pinterest.com',
 'gbuckinghamfp@google.co.uk',
 'vemneyfq@illinois.edu',
 'jdanforthfr@spotify.com#msjwHWWl',
 'cyarmouthfs@parallels.com',
 'kprobbinft@upenn.edu',
 'phaddenfu@twitpic.com',
 'bwitteyfv@constantcontact.com#bwkcKsF',
 'lpookfw@rambler.ru',
 'mmcalinefx@discovery.com',
 'mmealefy@slideshare.net',
 'dmoorefz@mlb.com',
 'lpybusg0@trellian.com',
 'wcrackerg1@blinklist.com',
 'bpipeg2@nationalgeographic.com',
 'dattacg3@latimes.com',
 'jdesseineg4@hugedomains.com',
 'crennardg5@dot.gov',
 'bexelbyg6@reuters.com',
 'ccollatong7@mail.ru',
 'bcroomeg8@gizmodo.com#zuY9NNnQkb5D',
 'mjakesg9@bloglovin.com',
 'csermanga@facebook.com',
 'gwiersmagb@wsj.com',
 'cblavergc@umich.edu',
 'slinnardge@vinaora.com',
 'xachrameevgf@dion.ne.jp#Stdd0zosIrKs',
 'jpagangg@alibaba.com',
 'noldreygh@ask.com',
 'rsharergi@i2i.jp',
 'sgurkogj@dot.gov',
 'fbadlandgk@nih.gov',
 'dgynnigl@hp.com',
 'gbleackleygm@yellowbook.com',
 'phouchingn@printfriendly.com',
 'akalkofengo@wikia.com',
 'mbramhillgp@google.pl#JMGjNXP7jOY',
 'lbeekmanngq@opera.com',
 'fundrellgr@trellian.com',
 'gshaddockgs@lulu.com',
 'wwhethergt@seattletimes.com',
 'vtwidellgu@ezinearticles.com',
 'uhanbidgegv@woothemes.com#jFnO2g87K',
 'gsivorngw@businesswire.com',
 'kwindaybankgx@dell.com',
 'bholseygy@ftc.gov',
 'vkeelh0@foxnews.com#4f6PLE9Yf',
 'cloosmoreh1@vimeo.com',
 'mdavidmanh2@bluehost.com',
 'jmoseh3@howstuffworks.com',
 'kgreevesonh4@cloudflare.com',
 'gcribbinsh5@hubpages.com',
 'tlamperdh6@gmpg.org',
 'nbotteh7@theglobeandmail.com',
 'sboldrah8@wisc.edu',
 'tmakinsonh9@plala.or.jp',
 'ivirrha@lycos.com',
 'cspurginhb@independent.co.uk',
 'bferriereshc@typepad.com',
 'gbewleyhd@rakuten.co.jp',
 'flangabeerhe@hibu.com',
 'tmakinsonhf@phpbb.com',
 'cmaciakhh@cisco.com',
 'cclementethi@kickstarter.com',
 'gtruluckhj@ustream.tv',
 'mandriveauxhk@altervista.org',
 'mjerschhl@accuweather.com#sZ9jibWem',
 'tprobackhm@usda.gov',
 'adooreyhn@etsy.com',
 'gthorndaleho@cornell.edu',
 'vfarrimondhp@ehow.com',
 'fsainsberryhq@lycos.com',
 'tsavilehr@oaic.gov.au',
 'piowarchhs@shop-pro.jp',
 'cmorcomht@google.com.hk#MQGTOJ9b01h',
 'pedmeadshu@mashable.com#qF7X3r',
 'ahercockhv@51.la',
 'brentollhw@dell.com#4p0PaFalQThN',
 'mmeffinhx@auda.org.au',
 'awalczakhy@narod.ru',
 'pcrowtherhz@dion.ne.jp',
 'cbachei0@sina.com.cn',
 'fbutlerbowdoni1@walmart.com',
 'farchelli2@youku.com',
 'hmcnicoli3@reuters.com',
 'pcombei4@seattletimes.com',
 'cogdeni5@toplist.cz',
 'bwhitmelli6@reddit.com',
 'tguiheni7@last.fm',
 'grammi8@prweb.com',
 'kconrardi9@blinklist.com',
 'bspoltonia@blogtalkradio.com',
 'gdruhanib@go.com#',
 'fsimmsic@acquirethisname.com#jsJZvlJ',
 'rwinwrightid@myspace.com',
 'jwoollardie@cornell.edu',
 'ceuesdenif@ameblo.jp',
 'tjumelig@dot.gov',
 'nhammantih@economist.com',
 'oatheisii@phpbb.com',
 'egovinlockij@intel.com',
 'cburdettik@unesco.org',
 'lmcquodeil@typepad.com',
 'kbrickellim@msn.com#2utU344t95t',
 'mloddenin@linkedin.com',
 'bvyseio@howstuffworks.com',
 'bwinspeareip@dion.ne.jp',
 'mhaylandiq@seesaa.net',
 'jloveladyir@ezinearticles.com',
 'sslatenis@slashdot.org',
 'lbrasonit@dedecms.com',
 'jdeeganiu@surveymonkey.com',
 'jbrixeyiv@xinhuanet.com',
 'akingcottiw@mlb.com',
 'abeattieix@deviantart.com',
 'ageeringiy@icio.us',
 'jwoodroughiz@flavors.me',
 'kwinshipj0@furl.net',
 'pdonahoj1@nps.gov#',
 'hmellersj2@amazon.com',
 'ewillfordj3@twitter.com',
 'jgettonej4@craigslist.org',
 'ncardenasj5@wiley.com',
 'gdimmerj6@google.fr',
 'jgebuhrj7@google.pl',
 'cpavlukj8@intel.com',
 'mreadej9@gmpg.org',
 'dziemensja@census.gov',
 'mhankardjb@irs.gov',
 'achelnamjc@wufoo.com',
 'ayorkstonjd@si.edu',
 'lhulkeje@1688.com',
 'kkippinsjf@usgs.gov',
 'nbernardosjg@noaa.gov',
 'gsevillejh@imgur.com',
 'abrownji@wsj.com#o4eLiilVw',
 'nolyffjj@webmd.com',
 'kpiddingtonjk@spiegel.de',
 'mbalhatchetjl@nydailynews.com',
 'msmeedjm@goodreads.com',
 'ncorainijo@cam.ac.uk',
 'cgawkesjp@reverbnation.com',
 'mpeacejq@disqus.com',
 'hvarnejr@oracle.com',
 'binchcombjs@wiley.com',
 'yochterlonyjt@taobao.com',
 'kyerrelljv@livejournal.com#gkq6Oq1dQPv',
 'gpantryjw@sourceforge.net',
 'losheildsjx@furl.net',
 'ahillattjy@techcrunch.com',
 'acarolinejz@angelfire.com',
 'abreensk0@geocities.com',
 'klankfordk1@narod.ru',
 'sgaugek2@timesonline.co.uk',
 'vcurreyk3@infoseek.co.jp',
 'vmaccafferkyk5@wisc.edu',
 'ehopkinsk6@tiny.cc#FEDIn3',
 'mreinbeckk7@github.io',
 'omcdougaldk9@technorati.com',
 'mrisebarerka@sphinn.com',
 'pwickskb@shinystat.com',
 'wmcgillegholekc@printfriendly.com',
 'aburdenkd@google.com.au',
 'ahyamske@fc2.com',
 'astuttkf@symantec.com',
 'schamberlenkg@eventbrite.com',
 'dkelliekh@newyorker.com',
 'whuishki@ovh.net',
 'kbrounfieldkj@springer.com',
 'csommerkk@huffingtonpost.com',
 'tmckibbinkl@addthis.com',
 'dbailiekm@tmall.com',
 'lgriffithsko@vinaora.com#6vsSWio6MaPL',
 'chanigankq@spotify.com',
 'lcargenkr@joomla.org',
 'cgarwillks@w3.org',
 'bdreinankt@huffingtonpost.com',
 'eivanetsku@mayoclinic.com',

In [39]:
grader.check("q03_03")

q03_03 results: All test cases passed!

### Question 3.4 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">2 Points</div>

Complete the implementation of the function `extract_street_addresses`, which takes in a string (`string`) containing the contents of a server log file and returns the street addresses in the file as a list. Example behavior is given below.

```python
>>> extract_street_addresses('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
['530 High Street']

>>> out = extract_street_addresses(open('data/messy.txt', encoding='utf8').read())
>>> out[0]
'814 Monterey Court'
```

As before, the returned list should not contain any empty strings or the string `'null'`.

In [40]:
def extract_street_addresses(string):
    pattern = r'\d+ \w+ \w+'
    word = re.findall(pattern, string)
    return word

# To test your work, first run:
#extract_street_addresses('bitcoin:1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2$jk%^3\t,test@test55.umich.edu,lkj5r%ji|ssn:423-01-9575,530 High Street')
# Then, once that works, uncomment:
extract_street_addresses(open('data/messy.txt', encoding='utf8').read())

['814 Monterey Court',
 '62 Hooker Park',
 '27811 Clyde Gallagher',
 '32553 Riverside Pass',
 '17157 Clemons Alley',
 '75 Dorton Parkway',
 '5 Manitowish Trail',
 '84 Northland Center',
 '64404 Sundown Street',
 '47144 Mockingbird Street',
 '413 Sutherland Court',
 '8906 Almo Lane',
 '34223 Graceland Crossing',
 '94 Mcguire Lane',
 '1 Delladonna Circle',
 '169 Claremont Point',
 '19475 Meadow Vale',
 '147 Cascade Center',
 '762 Knutson Terrace',
 '301 Monument Trail',
 '39 Buena Vista',
 '94 Barby Circle',
 '98 Hansons Road',
 '83525 Calypso Way',
 '61 Heath Street',
 '60 Bay Hill',
 '923 Lindbergh Place',
 '1 Elmside Circle',
 '34 High Crossing',
 '63 Bonner Lane',
 '67 Superior Terrace',
 '846 Acker Road',
 '4 Menomonie Avenue',
 '858 Arrowood Terrace',
 '2566 Anhalt Trail',
 '30840 Sherman Hill',
 '29170 Parkside Lane',
 '150 Logan Street',
 '74 North Court',
 '51374 8th Hill',
 '6432 Continental Avenue',
 '46916 Donald Court',
 '1950 Beilfuss Hill',
 '949 Park Meadow',
 '38 Tennyson Junction',
 '35 Melby Parkway',
 '55 Eggendart Circle',
 '36111 Drewry Pass',
 '3 Messerschmidt Crossing',
 '5 Hauk Terrace',
 '4335 Calypso Parkway',
 '3 Schurz Lane',
 '11 Haas Drive',
 '9639 Lindbergh Circle',
 '4 Coleman Road',
 '7751 Dahle Park',
 '699 Northport Hill',
 '754 Rockefeller Point',
 '38375 Anhalt Street',
 '4828 Carpenter Parkway',
 '5 Golden Leaf',
 '46594 Mallory Way',
 '6108 Sundown Junction',
 '92105 Melody Circle',
 '8635 Dennis Way',
 '7479 Rowland Terrace',
 '75 Buena Vista',
 '1 Michigan Junction',
 '3543 Leroy Trail',
 '47603 Doe Crossing',
 '3 Monterey Alley',
 '3 Cordelia Street',
 '4890 Center Junction',
 '12 Cardinal Road',
 '84 Haas Court',
 '46 Anthes Circle',
 '074 Erie Pass',
 '51827 Arkansas Crossing',
 '83992 Schurz Way',
 '3 Kenwood Way',
 '721 Golf Course',
 '2400 Farwell Way',
 '0 Sheridan Hill',
 '81427 Londonderry Alley',
 '8083 Melby Lane',
 '77851 Clyde Gallagher',
 '274 Colorado Drive',
 '4964 Johnson Drive',
 '453 Mesta Drive',
 '4 Cody Terrace',
 '74711 Moulton Avenue',
 '3410 Melrose Crossing',
 '6253 Cascade Trail',
 '289 South Place',
 '744 Marcy Road',
 '82060 Spenser Trail',
 '652 Roxbury Plaza',
 '57065 Dryden Trail',
 '91304 Dottie Junction',
 '10996 Schiller Alley',
 '1 Almo Plaza',
 '83 Starling Pass',
 '8423 Green Crossing',
 '3 Melody Lane',
 '7341 Linden Alley',
 '0 Columbus Hill',
 '20 Shopko Road',
 '77 Mayfield Way',
 '785 Lighthouse Bay',
 '6589 Forest Dale',
 '5 Loomis Street',
 '3 Randy Lane',
 '9 Towne Hill',
 '580 Lerdahl Street',
 '77 5th Circle',
 '3702 Ohio Center',
 '860 Marquette Alley',
 '11969 Fairview Lane',
 '770 Shopko Place',
 '997 Carpenter Plaza',
 '081 Mayer Lane',
 '5261 Maple Pass',
 '7 Swallow Road',
 '7612 Autumn Leaf',
 '8 Bellgrove Junction',
 '3 Helena Pass',
 '06 Loftsgordon Alley',
 '6402 Summer Ridge',
 '88 Vera Drive',
 '3162 Milwaukee Center',
 '0 Northland Park',
 '76307 Bashford Crossing',
 '54 Doe Crossing',
 '87 Pine View',
 '5574 Pine View',
 '17303 Ilene Circle',
 '8 Warner Court',
 '88400 New Castle',
 '6 Continental Terrace',
 '7 Thompson Road',
 '6 Harbort Terrace',
 '11090 Almo Junction',
 '21261 Norway Maple',
 '477 Carpenter Point',
 '3360 Express Avenue',
 '5908 Cardinal Hill',
 '913 Gina Trail',
 '8548 Boyd Junction',
 '5250 Sommers Point',
 '3 Green Ridge',
 '78146 Kenwood Park',
 '1376 Banding Plaza',
 '2206 Lawn Alley',
 '48279 Sullivan Avenue',
 '1 Badeau Drive',
 '55 Nelson Drive',
 '096 Chinook Lane',
 '82 Mayer Lane',
 '3857 Northland Crossing',
 '9 Dovetail Court',
 '198 Oxford Circle',
 '078 Mitchell Place',
 '11 Thompson Place',
 '8 Fair Oaks',
 '893 Doe Crossing',
 '96190 Sommers Pass',
 '768 Bultman Center',
 '288 Hintze Alley',
 '61 Anthes Park',
 '461 Ronald Regan',
 '10072 Shoshone Terrace',
 '711 Artisan Place',
 '6 Commercial Pass',
 '854 Coleman Place',
 '09411 Ramsey Way',
 '9633 Mifflin Lane',
 '75 Briar Crest',
 '24922 Gateway Pass',
 '93 Garrison Center',
 '189 Pearson Junction',
 '39898 Doe Crossing',
 '945 Forster Pass',
 '647 Rieder Parkway',
 '5 Parkside Terrace',
 '1 Trailsway Place',
 '2 Anthes Junction',
 '3891 Bonner Pass',
 '7915 Arapahoe Pass',
 '9 Rusk Way',
 '47278 Elgar Park',
 '8788 Pierstorff Way',
 '432 3rd Terrace',
 '00081 Crowley Place',
 '02 Lakewood Trail',
 '3874 Blackbird Street',
 '5328 Loomis Terrace',
 '237 Mitchell Parkway',
 '43526 Pepper Wood',
 '8 Leroy Road',
 '7 Troy Place',
 '78676 Prairieview Road',
 '6772 Ramsey Drive',
 '43 Calypso Point',
 '5504 Meadow Ridge',
 '058 Forster Plaza',
 '992 Delladonna Crossing',
 '0543 Maple Wood',
 '8608 Monument Junction',
 '1345 Goodland Court',
 '96 Garrison Drive',
 '6 Florence Circle',
 '503 Sugar Junction',
 '50869 Westerfield Pass',
 '2 Delladonna Avenue',
 '94665 Corscot Pass',
 '8485 Hanson Junction',
 '582 Thierer Park',
 '90 Fallview Center',
 '19756 Petterle Drive',
 '65 Artisan Hill',
 '4636 Welch Crossing',
 '25931 Vermont Road',
 '325 Superior Alley',
 '01 Armistice Circle',
 '41 Morning Crossing',
 '0218 Daystar Circle',
 '57823 Harper Trail',
 '732 Pearson Circle',
 '93 Fuller Place',
 '9797 Steensland Court',
 '54 Rowland Road',
 '9509 Dennis Alley',
 '84 Northridge Park',
 '378 Talmadge Terrace',
 '33140 Southridge Center',
 '31 La Follette',
 '2568 Warner Court',
 '21 Pawling Street',
 '774 Northland Junction',
 '6303 Di Loreto',
 '9 Longview Plaza',
 '461 Anderson Avenue',
 '05 Lawn Park',
 '070 Village Avenue',
 '2 Hermina Court',
 '873 Nova Circle',
 '542 International Park',
 '04 Michigan Street',
 '0892 Maywood Point',
 '7745 Susan Trail',
 '9218 Burrows Court',
 '72142 Gulseth Terrace',
 '3832 Oxford Way',
 '278 Forest Dale',
 '91091 5th Center',
 '89128 Fordem Hill',
 '3797 Fuller Place',
 '04115 Darwin Avenue',
 '3264 Village Court',
 '0445 Oneill Alley',
 '95405 Becker Place',
 '05 Columbus Lane',
 '1 Hudson Parkway',
 '5 Westport Lane',
 '27 Prentice Place',
 '12 South Pass',
 '786 Ludington Plaza',
 '06505 Lakeland Road',
 '99 Shelley Court',
 '13179 Dottie Point',
 '058 Thierer Terrace',
 '7 Roxbury Pass',
 '192 Holy Cross',
 '829 Northfield Terrace',
 '96305 Butterfield Drive',
 '4308 Kropf Trail',
 '10549 Kipling Park',
 '290 Stuart Street',
 '93016 Meadow Ridge',
 '8955 Harper Crossing',
 '480 Barby Place',
 '571 Rowland Street',
 '805 Harper Terrace',
 '3 Nevada Hill',
 '7 Nova Road',
 '7 Macpherson Circle',
 '97541 Kropf Court',
 '13 Commercial Parkway',
 '4494 Golf Course',
 '93860 Eagan Avenue',
 '2 Eastlawn Lane',
 '1931 Fallview Way',
 '3 Waywood Way',
 '58196 Green Alley',
 '7958 Elka Circle',
 '02487 Carberry Trail',
 '95025 Moose Drive',
 '4599 Meadow Ridge',
 '6592 8th Point',
 '47 Northwestern Hill',
 '4648 Vahlen Trail',
 '5 Transport Road',
 '16544 Fremont Alley',
 '98 Briar Crest',
 '8 Melody Way',
 '8752 Oxford Street',
 '84 Ridge Oak',
 '63 Spenser Center',
 '9 Tennyson Road',
 '3 Sauthoff Road',
 '21 Maple Wood',
 '7526 Aberg Park',
 '367 Prentice Park',
 '0 Badeau Drive',
 '948 Northview Hill',
 '752 Vermont Place',
 '99628 Glacier Hill',
 '33 Londonderry Lane',
 '6767 Boyd Alley',
 '860 Northfield Lane',
 '0552 Ludington Lane',
 '96 Lawn Plaza',
 '3 Corben Center',
 '1 Algoma Avenue',
 '8924 Porter Parkway',
 '67 Springs Plaza',
 '892 Sugar Avenue',
 '590 Park Meadow',
 '7440 Grayhawk Park',
 '67 Loftsgordon Street',
 '9863 Shopko Point',
 '1 Upham Junction',
 '3566 Nobel Avenue',
 '9 Mosinee Center',
 '45 Muir Trail',
 '347 Roth Junction',
 '9 Sauthoff Circle',
 '49708 Myrtle Center',
 '40 Hintze Place',
 '29756 Cottonwood Lane',
 '53 Derek Point',
 '51 Crowley Hill',
 '7 Cardinal Place',
 '91 Chive Circle',
 '225 Fieldstone Park',
 '6 Helena Junction',
 '69690 Kennedy Circle',
 '2 Lukken Center',
 '335 Mallard Way',
 '499 Prairie Rose',
 '350 Nevada Circle',
 '9392 Fremont Place',
 '858 Tennyson Way',
 '082 Katie Circle',
 '852 Evergreen Street',
 '422 Jackson Street',
 '93 Dunning Center',
 '13563 Kinsman Plaza',
 '12 Blackbird Alley',
 '89 Lakeland Place',
 '588 Bellgrove Road',
 '6 Fuller Park',
 '92611 Scoville Terrace',
 '8 Dunning Court',
 '296 Eliot Center',
 '1 Loftsgordon Drive',
 '790 Express Drive',
 '81730 Sauthoff Road',
 '5 Lunder Avenue',
 '9 Warrior Hill',
 '06 Fairfield Parkway',
 '644 Parkside Lane',
 '25214 Meadow Vale',
 '98 Cambridge Terrace',
 '81644 Blaine Point',
 '1442 Moulton Circle',
 '5 Crest Line',
 '369 Warner Center',
 '4753 Farwell Trail',
 '594 Southridge Center',
 '6509 Lakewood Gardens',
 '235 Lien Court',
 '581 Clove Hill',
 '3 Canary Pass',
 '93685 Kedzie Terrace',
 '0057 Coolidge Place',
 '2923 Spohn Terrace',
 '33 Melody Center',
 '805 Amoth Junction',
 '9 Sloan Point',
 '82094 Del Mar',
 '4925 Redwing Trail',
 '743 Nancy Way',
 '918 Lunder Court',
 '2 Duke Avenue',
 '0 Holy Cross',
 '23795 Hermina Crossing',
 '56 Boyd Parkway',
 '96 Atwood Junction',
 '94 Village Green',
 '3 Mallard Circle',
 '322 Texas Drive',
 '0831 Burrows Drive',
 '63686 Northfield Alley',
 '03 North Place',
 '923 Merry Terrace',
 '6073 Harbort Junction',
 '100 Londonderry Avenue',
 '5369 Fairview Alley',
 '942 Oxford Court',
 '7 Mariners Cove',
 '06935 Alpine Drive',
 '68282 High Crossing',
 '91661 Hanover Lane',
 '8 Ridgeway Road',
 '397 Sage Junction',
 '66 Green Avenue',
 '8969 Norway Maple',
 '558 Dwight Trail',
 '274 Cardinal Terrace',
 '12197 Anhalt Street',
 '3161 Cardinal Circle',
 '58139 Butternut Road',
 '8265 Jackson Avenue',
 '322 Memorial Circle',
 '1 Fieldstone Center',
 '16485 Troy Plaza',
 '60 Sunfield Terrace',
 '02175 Old Gate',
 '0871 Barnett Way',
 '0243 Arrowood Junction',
 '3 Summerview Street',
 '8758 Dorton Trail',
 '6 Lakewood Gardens',
 '7381 Summit Center',
 '13146 Crowley Court',
 '98842 Continental Terrace',
 '67 Lyons Terrace',
 '5300 Victoria Terrace',
 '25 Anzinger Way',
 '938 Eliot Center',
 '956 Pond Junction',
 '21736 Doe Crossing',
 '05 Carberry Center',
 '9866 Memorial Plaza',
 '5219 Vidon Crossing',
 '53 Lyons Parkway',
 '2 Everett Drive',
 '50391 Nancy Junction',
 '57147 Armistice Plaza',
 '5734 Kipling Terrace',
 '3199 Golden Leaf',
 '686 Red Cloud',
 '889 Mitchell Park',
 '92 Monica Lane',
 '1200 Shoshone Center',
 '50551 Muir Park',
 '1 Crownhardt Lane',
 '01256 Sachs Junction',
 '2620 Scofield Hill',
 '3809 Briar Crest',
 '950 Mosinee Way',
 '959 Dawn Junction',
 '858 Mesta Alley',
 '6 Wayridge Junction',
 '5 Coolidge Alley',
 '330 Anhalt Trail',
 '1782 Donald Street',
 '668 2nd Circle',
 '21631 Fisk Terrace',
 '5 Melody Hill',
 '9 Brickson Park',
 '8 Aberg Terrace',
 '83676 Nobel Junction',
 '1766 Crownhardt Junction',
 '8 Gina Crossing',
 '14 Anderson Crossing',
 '16 Blue Bill',
 '67453 Kipling Center',
 '9 8th Hill',
 '5 Melrose Terrace',
 '9462 Pleasure Plaza',
 '50277 Browning Park',
 '889 David Alley',
 '46 Lunder Crossing',
 '8582 Judy Crossing',
 '528 Westend Drive',
 '4 Spohn Court',
 '67143 Briar Crest',
 '6972 Buell Center',
 '1243 Sunbrook Street',
 '6 Memorial Lane',
 '0 Butternut Alley',
 '626 Vidon Crossing',
 '8711 Dexter Drive',
 '218 Maple Wood',
 '1 Fieldstone Center',
 '31792 Spaight Crossing',
 '270 Pepper Wood',
 '77 Arapahoe Hill',
 '5560 West Park',
 '142 Lakewood Gardens',
 '86318 Memorial Trail',
 '5042 Mallory Crossing',
 '8892 Thompson Lane',
 '6 Manufacturers Pass',
 '1 Killdeer Park',
 '87254 Fulton Road',
 '1834 Eastwood Lane',
 '82436 1st Way',
 '7 Ridge Oak',
 '6 Rutledge Plaza',
 '7663 8th Road',
 '897 Moulton Lane',
 '399 Village Green',
 '24404 6th Drive',
 '126 Glacier Hill',
 '057 Mockingbird Road',
 '24 Coolidge Pass',
 '8647 Surrey Way',
 '8 Daystar Way',
 '30 Sunbrook Parkway',
 '099 Roxbury Park',
 '28 Center Circle',
 '457 Dawn Hill',
 '52009 Doe Crossing',
 '66 Ridgeview Junction',
 '94 Barnett Plaza',
 '26911 Service Road',
 '0 Di Loreto',
 '242 Elmside Terrace',
 '71219 Portage Terrace',
 '276 1st Point',
 '28 Golden Leaf',
 '91614 Washington Center',
 '34 Becker Road',
 '5981 Farragut Way',
 '8 Pleasure Street',
 '9600 Elmside Place',
 '7132 Oak Valley',
 '68 Acker Place',
 '570 Ohio Pass',
 '1 Brown Avenue',
 '344 Heffernan Way',
 '9 Maple Junction',
 '46 Gina Way',
 '70 Golden Leaf',
 '26 Mosinee Circle',
 '02618 Blaine Park',
 '9 Londonderry Pass',
 '2 Havey Way',
 '74 Hudson Terrace',
 '92 Marquette Avenue',
 '6 Golden Leaf',
 '20979 Transport Drive',
 '6 Bartillon Junction',
 '3 Dakota Road',
 '58658 David Circle',
 '8 Thackeray Lane',
 '6063 Mccormick Way',
 '25 Sugar Point',
 '4 Meadow Valley',
 '13937 Westend Alley',
 '30373 Parkside Center',
 '75364 Fordem Way',
 '0 Pepper Wood',
 '34217 Mosinee Crossing',
 '54 Butternut Hill',
 '9301 3rd Drive',
 '325 Nancy Pass',
 '0 Moose Way',
 '311 Stuart Plaza',
 '80182 Fairfield Park',
 '247 Montana Parkway',
 '23298 Sauthoff Plaza',
 '2412 Maryland Road',
 '22859 Crescent Oaks',
 '287 Eagan Terrace',
 '0 Nelson Crossing',
 '006 Burrows Pass',
 '7 Cordelia Junction',
 '60 Clove Center',
 '238 Vera Court',
 '0915 Almo Crossing',
 '82 Shopko Parkway',
 '58 Manley Junction',
 '841 Katie Place',
 '4305 Mandrake Pass',
 '6120 Columbus Circle',
 '79320 Nevada Place',
 '4 Briar Crest',
 '70270 Lunder Alley',
 '4 Green Avenue',
 '85229 Pawling Point',
 '762 Fisk Parkway',
 '8 Browning Terrace',
 '821 Buhler Place',
 '52964 Kedzie Avenue',
 '97 Basil Trail',
 '35 Raven Avenue',
 '8179 Arkansas Court',
 '21365 Crest Line',
 '19 Hovde Court',
 '7796 Derek Place',
 '6107 Spohn Crossing',
 '5 Carpenter Alley',
 '2 Northport Pass',
 '7 Esker Point',
 '36 Northview Point',
 '01669 Harbort Crossing',
 '7 Starling Avenue',
 '2 Maywood Parkway',
 '76877 Donald Way',
 '3 Rusk Trail',
 '5 Stang Road',
 '763 Anzinger Center',
 '27 Ruskin Hill',
 '7818 Hintze Road',
 '6953 Mesta Street',
 '44 Park Meadow',
 '7200 3rd Hill',
 '0003 Riverside Court',
 '914 8th Alley',
 '7 Duke Lane',
 '71142 Mccormick Place',
 '016 Bluejay Pass',
 '2 Morningstar Crossing',
 '9 Briar Crest',
 '96135 Dahle Plaza',
 '1725 Mallory Plaza',
 '93732 Waubesa Street',
 '629 Meadow Ridge',
 '23101 Anthes Point',
 '8342 Jenifer Alley',
 '0049 Clemons Circle',
 '499 Scofield Court',
 '32 Bultman Point',
 '843 Buhler Circle',
 '9842 Dapin Drive',
 '160 Declaration Center',
 '7 Southridge Trail',
 '5223 Sunfield Avenue',
 '01 Mosinee Trail',
 '51747 Schlimgen Hill',
 '7540 Fallview Lane',
 '78013 Holmberg Plaza',
 '126 Menomonie Center',
 '8700 Portage Circle',
 '6 Homewood Crossing',
 '251 Sunnyside Parkway',
 '9 Northridge Crossing',
 '11 Moland Road',
 '45 Darwin Hill',
 '9 Magdeline Avenue',
 '41 Novick Pass',
 '32138 Myrtle Plaza',
 '76 Golf Way',
 '1172 Pierstorff Court',
 '60321 Londonderry Parkway',
 '6 Maryland Park',
 '5 Spenser Plaza',
 '5908 Chinook Place',
 '65551 Westend Avenue',
 '364 Beilfuss Crossing',
 '3992 Memorial Way',
 '7 Briar Crest',
 '934 Farragut Road',
 '71374 Manufacturers Point',
 '568 Sauthoff Trail',
 '81063 Dorton Junction',
 '43313 Sutherland Court',
 '4318 Susan Place',
 '7678 Marcy Crossing',
 '3 Larry Avenue',
 '07 Riverside Crossing',
 '29 Talmadge Terrace',
 '40 Rusk Park',
 '1 Village Terrace',
 '57856 Mariners Cove',
 '548 Pearson Pass',
 '4 Sherman Court',
 '547 Crownhardt Crossing',
 '87222 Basil Alley',
 '43 Ruskin Court',
 '04 Paget Parkway',
 '11 Utah Trail',
 '203 Columbus Alley',
 '38946 Del Sol',
 '0 Valley Edge',
 '6 Thompson Way',
 '628 Colorado Point',
 '2737 Eastwood Avenue',
 '9 Morning Park',
 '98 Glendale Trail',
 '47 Clarendon Court',
 '94 Westridge Terrace',
 '51425 Del Mar',
 '242 Hayes Pass',
 '6973 Saint Paul',
 '0022 Spohn Junction',
 '7 Farwell Pass',
 '7948 Canary Junction',
 '1 Clove Alley',
 '78274 Ohio Lane',
 '067 Stone Corner',
 '23 Steensland Way',
 '9 Gulseth Circle',
 '40918 Sheridan Center',
 '45 Waywood Point',
 '2 Onsgard Parkway',
 '2334 Annamark Center',
 '5669 Myrtle Alley',
 '52768 Union Plaza',
 '32378 Shopko Lane',
 '8 Bunting Point',
 '9508 Hazelcrest Point',
 '91326 Roth Pass',
 '33 Linden Court',
 '37 American Ash',
 '5 Mayer Pass',
 '2 Springs Road',
 '4318 Service Circle',
 '31905 Weeping Birch',
 '640 Sage Way',
 '5 Green Way',
 '181 Warner Place',
 '1 Loomis Park',
 '2073 Summerview Way',
 '7019 Vermont Park',
 '281 Raven Way',
 '52014 Crownhardt Lane',
 '50 Sachs Terrace',
 '33 Carey Crossing',
 '27 Loeprich Point',
 '60387 Ryan Pass',
 '05486 Bluejay Drive',
 '4 Messerschmidt Point',
 '2 Carpenter Crossing',
 '884 Monument Road',
 '6 Warbler Place',
 '6 Utah Hill',
 '776 Ridgeview Avenue',
 '22 Burrows Terrace',
 '38363 Jenna Street',
 '73925 Menomonie Plaza',
 '0 South Alley',
 '872 Burrows Crossing',
 '22375 Clove Plaza',
 '8 Hauk Crossing',
 '1 Morningstar Crossing',
 '6156 Laurel Way',
 '413 Merchant Pass',
 '83 North Way',
 '0 Chinook Way',
 '940 Fisk Drive',
 '487 Bartelt Park',
 '48314 Homewood Alley',
 '5012 Comanche Road',
 '73046 Oriole Lane',
 '5 Pleasure Terrace',
 '53642 Del Mar',
 '7499 Fairfield Junction',
 '72 Northland Drive',
 '962 Spohn Terrace',
 '0620 Esker Road',
 '12055 Village Alley',
 '40875 West Avenue',
 '2 4th Alley',
 '4 Delladonna Center',
 '93173 West Point',
 '8783 Parkside Junction',
 '7706 Memorial Court',
 '86590 Manufacturers Road',
 '818 Delaware Avenue',
 '66 Schurz Circle',
 '210 Manufacturers Junction',
 '2 Leroy Court',
 '97528 Thompson Terrace',
 '432 Barnett Street',
 '4 Sundown Crossing',
 '1 Algoma Crossing',
 '564 Toban Pass',
 '950 Fulton Hill',
 '0271 Menomonie Avenue',
 '195 Luster Avenue',
 '85 Moland Point',
 '88987 Paget Parkway',
 '4340 Elgar Park',
 '832 Kings Place',
 '7 Jay Point',
 '96 Northridge Trail',
 '82 Buena Vista',
 '6 Brickson Park',
 '41392 Nancy Avenue',
 '0267 Harbort Crossing',
 '69 Dennis Circle',
 '261 Westport Junction',
 '1155 Vermont Center',
 '732 Butterfield Plaza',
 '161 Fuller Street',
 '03 Blue Bill',
 '12 Lillian Center',
 '14361 Packers Terrace',
 '9 Burrows Drive',
 '24256 Stang Circle',
 '7 Erie Junction',
 '532 Bay Plaza',
 '3128 Pepper Wood',
 '3328 Novick Plaza',
 '6837 Knutson Hill',
 '675 Manley Street',
 '86389 Monica Center',
 '74694 Farragut Circle',
 '90 Anhalt Road',
 '89701 Kennedy Court',
 '34770 Mendota Lane',
 '5316 Old Gate',
 '49608 Dryden Court',
 '95116 Westerfield Alley',
 '0 Lawn Road',
 '131 Southridge Circle',
 '7 Kropf Plaza',
 '77 Amoth Crossing',
 '458 Cascade Street',
 '2 Miller Crossing',
 '88 Vidon Road',
 '808 Ramsey Terrace',
 '96 Kedzie Street',
 '06 Algoma Terrace',
 '260 Fair Oaks',
 '93 Dayton Place',
 '55296 Gateway Avenue',
 '1 Larry Plaza',
 '6 Chinook Way',
 '019 Burrows Way',
 '4 Larry Street',
 '04653 Porter Alley',
 '6 Esch Lane',
 '1 Portage Place',
 '4 Crescent Oaks',
 '20616 Canary Pass',
 '71349 Carpenter Street',
 '139 Fremont Street',
 '0303 Buhler Drive',
 '7 Swallow Circle',
 '141 David Parkway',
 '74 Fremont Pass',
 '3620 Bartillon Parkway',
 '7932 Melvin Center',
 '49 Grasskamp Terrace',
 '2768 Waubesa Court',
 '50991 Doe Crossing',
 '383 Autumn Leaf',
 '42860 Clove Parkway',
 '587 Gateway Avenue',
 '43603 Nobel Place',
 '35383 Surrey Center',
 '58410 Mesta Lane',
 '214 Hollow Ridge',
 '276 Hagan Hill',
 '374 Superior Pass',
 '0945 Mitchell Center',
 '35379 Forster Lane',
 '0425 Melrose Avenue',
 '6297 Barby Avenue',
 '2216 Harbort Point',
 '87988 Wayridge Circle',
 '0 Mccormick Center',
 '471 Almo Lane',
 '028 Drewry Street',
 '06190 Scott Plaza',
 '67767 Merry Center',
 '86 Bunting Pass',
 '312 Portage Point',
 '2901 Haas Drive',
 '52282 Orin Way',
 '958 Butternut Point',
 '778 South Center',
 '6 Hoepker Crossing',
 '152 Prairieview Center',
 '1839 Morningstar Court',
 '7 Cambridge Crossing',
 '947 Mallard Place',
 '104 Hoffman Park',
 '4244 Heffernan Circle',
 '72 Harbort Road',
 '3675 Swallow Park',
 '89384 Graceland Street',
 '01 La Follette',
 '240 Del Sol',
 '13 Stephen Park',
 '854 Pine View',
 '58 Hooker Park',
 '7 East Terrace',
 '86 Bobwhite Street',
 '0 Artisan Place',
 '825 Mayfield Circle',
 '424 Mallory Way',
 '8524 Huxley Trail',
 '33 Algoma Junction',
 '48 Summer Ridge',
 '976 Arkansas Junction',
 '66697 Kings Road',
 '0230 Weeping Birch',
 '15 Hoard Road',
 '95608 Crest Line',
 '05 Artisan Court',
 '83 Hovde Drive',
 '46130 Becker Street',

In [41]:
grader.check("q03_04")

q03_04 results: All test cases passed!

## Question 4: GPTEECS ü§ñ

---

### Overview

Large Language Models (LLM), like GPT-4 by OpenAI, Claude by Anthropic, or Llama by Meta, are statistical models that were trained on massive datasets for the purpose of generating useful new text. [ChatGPT](https://chat.openai.com) and other similar chat interfaces make calls to an LLM API under-the-hood, and show you the results in a text message-like format.

Open ChatGPT or your favorite other LLM chat interface, and ask it:

> What's the difference between the late submission policy in EECS 467 and EECS 492?

Until very recently (when ChatGPT started being able to search the internet), ChatGPT would tell you that it doesn't know what EECS 467 and EECS 492 are. And even if it did give you an answer, it's not necessarily clear whether it pulled the answer from a reliable source, or whether it's still true today (it may have found syllabi online from many years ago, and could be hallucinating). 

### Retrieval-Augmented Generation (RAG)

A solution to this issue is **Retrieval-Augmented Generation (RAG)**. **In this question, we will use RAG to implement GPTEECS, a chat interface designed to answer questions about EECS syllabi.** Here's the general idea behind RAG, and how we'll use it in this question:

1. We want to implement a chat bot that can answer questions about something specific.<br><small>**Here**, we want our chat bot to answer questions about EECS class' syllabi.</small>
1. To do so, we download and store documents that contain the relevant context that we wish our LLM knew about.<br><small>**Here**, we'll download the syllabi of various EECS classes and store them as `.txt` files. We've already done this for you.</small>
1. Then, when the user asks a question ‚Äì called a **query** ‚Äì we determine which of our locally-stored documents are most relevant in answering their question.<br><small>**Here**, when a user asks a question about EECS class(es), we'll determine which syllabus documents are most likely to have the answer.</small>
1. Once we find the most relevant documents, we send the user's query, **along with** the most relevant documents, to our language model, allowing it to find the answer for us with the context it needs.

<center><img src="imgs/retrieval-augmented-generation.png" width=700><br>(<a href="https://towhee.io/tasks/detail/pipeline/retrieval-augmented-generation">image source</a>)</center>

RAG enables organizations to create customized chat interfaces that are better equipped to answer questions about the organization than an out-of-the-box language model. For instance, if you operated a store and wanted an AI-powered customer support chat, you may use RAG to create a chat bot that knows about your store's catalog, return policies, etc. ChatGPT even allows you to make custom GPTs [yourself](https://openai.com/index/introducing-gpts/) by uploading customized knowledge bases, and these (likely) use a process similar to RAG.

### FAQs

- **How do we determine which documents are most relevant to the user's query?** Here, we'll implement this using TF-IDF and cosine similarity, as we've seen in [Lecture 12](https://practicaldsc.org/resources/lectures/lec12/lec12-filled.html)! In practice, more sophisticated, state-of-the-art techniques for converting text to numbers are used (if you're curious, look into "word embeddings").
- **Why not just send all of the documents to our language model, instead of finding the documents that are most relevant?** LLMs have a [context window](https://www.hopsworks.ai/dictionary/context-window-for-llms), which is a limit on the length of the input query they can take in. If your query is too long, an LLM may not be able to process it. (And, if it includes unnecessary information, it can be hard for the LLM to give you an accurate response.)

### Your Task
The folder `data/syllabi` contains syllabi for several EECS classes. These documents together comprise our **corpus**.

In [42]:
!ls data/syllabi

183.txt 280.txt 373.txt 390.txt 465.txt 471.txt 481.txt 484.txt 489.txt 493.txt
203.txt 281.txt 376.txt 445.txt 467.txt 473.txt 482.txt 485.txt 490.txt 494.txt
270.txt 370.txt 388.txt 453.txt 470.txt 475.txt 483.txt 487.txt 492.txt

Shortly, using the ideas from Lecture 12, you will develop a working implementation of the following function:

```python
>>> top_n_similar_documents('C++ programming and systems design', 4, bow)
['482.txt', '473.txt', '370.txt', '281.txt']
```

And even cooler, you'll implement a function that can fully answer questions, like:

```python
>>> ask_gpteecs("I really want to learn theoretical probability and math, what should I take?")
'Based on your interest in theoretical probability and math, I recommend taking EECS 445: Introduction to Machine Learning. This course covers the foundational algorithms and "tricks of the trade" in machine learning, including regression, classification...'
```

### Question 4.1 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">1 Point</div>

First, let's figure out how to call a Large Language Model directly from our notebook.

OpenAI does have a Python API, but it's relatively limited on the free plan. Instead, we'll use tools from [Groq](https://groq.com/). Groq is a hardware company designing processors for training LLMs efficiently, and allows for fast, free access to open-source LLM APIs. We'll use the [Groq API](https://console.groq.com/docs/quickstart) to make calls to Meta's Llama 3 API. (As mentioned at the start of this section, Llama is Meta's competitor to GPT. So technically, we're not implementing GPTEECS, but EECSLlama?)

Go [**here**](https://console.groq.com/docs/quickstart) and create a Groq API key. Then, complete the implementation of `query_llama`, a function that takes in a string (`query_string`) and returns the text response that results from passing `query_string` to Groq. The function has largely been implemented for you; most of what you need to do is create an API key and put it in the right place below.

(Yes, confusingly, we're using the word "query" in this homework to refer to slightly different, but related, ideas: in SQL, queries are used to extract information from a **database**, and here, our queries pull information from an API.)

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

In [43]:
def query_llama(query_string):
    client = groq.Groq(
        api_key= ""
    )
    
    chat_completion = client.chat.completions.create(
        messages=[
            {
                "role": "user",
                "content": query_string
            }
        ],
        model="llava-v1.5-7b-4096-preview",
        # temperature=0 # Try uncommenting this and running the call to query_llama below many times. What do you notice? Recomment it out afterwards.
    )

    return chat_completion.choices[0].message.content

# Feel free to change the input below to test out your implementation of query_llama.
# The Markdown function behaves like the print function,
# but renders text formatting (e.g. bolding, bullet points) when the output from Llama
# contains these elements.
Markdown(query_llama('what is the difference between EECS 492 and EECS 493?'))

EECS 492 and EECS 493 are both sections of the same upper-level undergraduate electrical engineering course, but there are a few important differences between them:

1. EECS 492 is typically a more advanced version of the course, designed for students who have already completed the prerequisite coursework and are looking to delve deeper into the subject matter. This section often covers more difficult and specialized topics, and may require more independent study and research.
2. EECS 493, on the other when compared with 492, is a more beginner-friendly course. It covers the basics of electrical engineering, including circuit analysis and digital logic. It is often taken by students who are new to the field and want a solid foundation in the basics of electrical engineering.
3. EECS 492 and EECS 493 are often taken together in the same semester as the two courses are complementary to one another and build upon each other. The 493 course usually lays the foundation for 492.
4. EECS 492 is more research-oriented, where as EECS 493 is more project-oriented.

In summary, EECS 492 is a more advanced version of the course and is often taken by students who have already completed the prerequisite coursework and are looking to delve deeper into the subject matter, while EECS 493 is a beginner-friendly course that covers the basics of electrical engineering.

In [44]:
grader.check("q04_01")

q04_01 results: All test cases passed!

Now, we can call `query_llama`! Run the cell below.

In [45]:
Markdown(query_llama('Tell me about EECS 485 at Michigan, but keep it concise: just one paragraph.'))

EECS 485 at the University of Michigan is a senior-level design project course that requires students to design and implement a complete embedded control system. The course is project-based and provides students with the opportunity to apply their knowledge of computer engineering principles to real-world problems. Students work in teams to design and develop a system, and are required to present their work to the class. The course also includes lectures and discussions on topics such as programming languages, compilers, and computer architecture.

To experiment:
- Run the cell many times. You'll notice that the response is very different every time ‚Äì and it's almost never accurate! (Click [here](https://eecs485.org) to see what EECS 485 here is actually about.)
- Uncomment the line that says `temperature=0` in your definition of `query_llama`, and then run the above cell many times again. What do you notice now? (To see what argument is doing, go to the [documentation](https://console.groq.com/docs/api-reference#chat-create) and search for "temperature".) Recomment out the line before proceeding.
- If you remove "but keep it concise: just one paragraph.", what do you notice?

Now we have a way of passing queries to a Large Language Model and getting back results. Right now, it's not knowledgeable enough to answer questions about EECS classes. Soon, we'll change that.

We'll get back to using `query_llama` in the final part of this question. For now, we need to switch our attention to implementing RAG ‚Äì that is, being able to find the syllabus documents that are most similar to our input query. Once we implement it, when we pass our (new) function the input `'Tell me about EECS 485 at Michigan, but keep it concise: just one paragraph.'`, it'll provide accurate, up-to-date information about EECS 485, since we'll send the syllabus for EECS 485 to Llama along with the original input. **Keep this goal in mind. The next few parts may seem unrelated, but they all come together at the end!**

### Question 4.2 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">1 Point</div>

A **token** is an alphanumeric string. In Lecture 12, we referred to tokens as "terms". Before computing any numbers, we need to find the terms in each syllabus, i.e. we need to **tokenize** each syllabus.

Complete the implementation of the function `tokenize`, which takes in a string (`string`) of text and returns a list containing all of the tokens in `string`. Convert all characters to lowercase before extracting tokens.

Example behavior is given below.

```python
>>> tokenize("EECS 398-003 Practical Data Science's about data management and applied machine learning.")
['eecs',
 '398',
 '003',
 'practical',
 'data',
 'science',
 's',
 'about',
 'data',
 'management',
 'and',
 'applied',
 'machine',
 'learning']

>>> tokenize(open('data/syllabi/485.txt').read())[:20]
['eecs',
 '485',
 'web',
 'systems',
 'syllabus',
 'the',
 'university',
 'of',
 'michigan',
 'fall',
 '2024',
 'a',
 'holistic',
 'course',
 'of',
 'modern',
 'web',
 'systems',
 'and',
 'technologies']
```

Note that this part is only worth 1 point, so it shouldn't take very long!

In [46]:
def tokenize(string):
    new = re.findall(r'\w+',string.lower())
    return new

# Feel free to change the input below to test out your implementation of tokenize.
tokenize("EECS 398-003 Practical Data Science's about data management and applied machine learning.")

['eecs',
 '398',
 '003',
 'practical',
 'data',
 'science',
 's',
 'about',
 'data',
 'management',
 'and',
 'applied',
 'machine',
 'learning']

In [47]:
grader.check("q04_02")

q04_02 results: All test cases passed!

Before we move onto Question 4.3, it's worth mentioning that in practice, we'd put a bit more care into tokenizing our documents. For one, we might **lemmatize** our tokens, which would allow us to group words like `'eating'`, `'ate'`, and `'eatery'` all to `'eat'`. We've omitted such steps here for simplicity.

### Question 4.3 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">4 Points</div>

Complete the implementation of the function `files_to_bow`, which takes in a string describing the **path** to a folder with syllabus files (`path`) and returns the corresponding **bag of words matrix** as a DataFrame, with:
- One row per file, indexed by the file name. The DataFrame should be sorted by the index in ascending order.
- One column per unique word (token) among all syllabi (i.e. across the entire corpus). The order of the columns in the DataFrame does not matter.
- Values corresponding to the number of occurrences of each word in each file.

Example behavior is given below.

```python
>>> out = files_to_bow('data/syllabi')
>>> out.shape
(29, 4306)

>>> out.loc['280.txt', 'computer']
12
```

Some guidance:
- You must implement all of the steps by hand, i.e. no using `sklearn`'s `CountVectorizer`.
- To find all of the files in a folder, use `os.listdir` (we've already imported `os`). Make sure to verify that the files you're processing end in `.txt` ‚Äì there may be other files in `path` that aren't valid syllabi, and we don't want to process those.
- Our solution involved creating an intermediate helper function that read in the necessary files, tokenized them, and stored them in an appropriate data structure. You can design your implementation however you'd like, but it's a good idea to break it down into smaller pieces.
- Since we've already tokenized each file, it's not necessary to use regular expressions to count the number of occurrences of particular words in each document. Look into the list `count` method, which you can use in conjunction with a `for`-loop or the Series `apply` method. Our solution follows the work in Lecture 12 closely.
- Our solution only takes ~5 seconds to run on `files_to_bow('data/syllabi')`. Make sure yours is similarly quick.

In [48]:
def files_to_bow(path):
    name = []
    text = []
    
    for i in os.listdir(path):
        if i.endswith(".txt"):  
            file_path = os.path.join(path, i)
            with open(file_path, "r") as f:
                content = f.read()
            name.append(i)
            text.append(tokenize(content))
    

    new = pd.DataFrame({"filename": name, "text": text})
    new.set_index('filename', inplace=True)
    new = new.sort_index()
    name = sorted(name)

    all_words = new['text'].explode().value_counts().index
    
    counts_dict = {fname: {} for fname in name}
    
    for term in (all_words):
        for i in range(len(new)):
            filename = name[i]
            counts_dict[filename][term] = new['text'].iloc[i].count(term)
    
    counts = pd.DataFrame.from_dict(counts_dict, orient='index').fillna(0).astype(int)

    return counts.sort_index()

make = files_to_bow('data/syllabi')
make

,the,to,and,you,a,of,in,for,will,be,...,1017,012,ereader,1006,opinion,011,auditorium,chesebrough,flaws,withdrawal
183.txt,183,131,97,101,77,74,70,76,47,43,...,0,0,0,0,0,0,0,0,0,0
203.txt,206,136,105,114,59,68,80,65,62,50,...,0,0,0,0,0,0,0,0,0,0
270.txt,57,25,26,31,34,22,19,12,21,26,...,0,0,1,0,1,0,0,0,1,0
280.txt,157,102,128,77,94,73,70,78,20,32,...,0,0,0,0,0,0,0,0,0,0
281.txt,214,132,78,110,110,85,83,63,61,64,...,0,0,0,0,0,0,0,0,0,1
370.txt,114,76,52,66,62,45,50,44,50,53,...,0,0,0,0,0,0,0,0,0,0
373.txt,63,37,46,22,26,31,20,13,16,18,...,0,0,0,0,0,0,0,0,0,0
376.txt,116,94,90,65,59,60,45,56,45,38,...,0,0,0,0,0,0,0,0,0,0
388.txt,14,6,18,7,1,18,3,8,4,3,...,0,0,0,0,0,0,0,0,0,0
390.txt,188,115,102,78,85,87,63,82,39,30,...,0,0,0,0,0,0,0,0,0,0
445.txt,24,10,9,3,12,15,2,9,13,8,...,1,1,0,1,0,1,1,1,0,0
453.txt,6,9,20,0,1,6,2,6,5,3,...,0,0,0,0,0,0,0,0,0,0
465.txt,14,7,15,3,7,7,3,1,7,9,...,0,0,0,0,0,0,0,0,0,0
467.txt,44,20,46,5,27,24,19,16,6,6,...,0,0,0,0,0,0,0,0,0,0
470.txt,57,36,34,24,22,24,33,22,38,35,...,0,0,0,0,0,0,0,0,0,0
471.txt,72,41,19,31,19,26,25,15,17,23,...,0,0,0,0,0,0,0,0,0,0
473.txt,58,28,39,19,26,22,16,10,28,27,...,0,0,0,0,0,0,0,0,0,0
475.txt,11,5,17,4,6,12,3,3,2,3,...,0,0,0,0,0,0,0,0,0,0
481.txt,87,54,62,40,49,37,40,40,14,24,...,0,0,0,0,0,0,0,0,0,0
482.txt,116,71,55,56,40,40,37,26,29,34,...,0,0,0,0,0,0,0,0,0,0
483.txt,29,20,15,12,6,12,4,9,6,8,...,0,0,0,0,0,0,0,0,0,0
484.txt,10,4,7,5,3,2,2,2,6,3,...,0,0,0,0,0,0,0,0,0,0
485.txt,80,43,60,39,45,44,40,36,19,24,...,0,0,0,0,0,0,0,0,0,0
487.txt,16,12,23,1,6,15,8,9,7,7,...,0,0,0,0,0,0,0,0,0,0
489.txt,79,53,63,48,40,42,40,33,17,20,...,0,0,0,0,0,0,0,0,0,0
490.txt,24,9,19,9,6,8,15,4,8,7,...,0,0,0,0,0,0,0,0,0,0
492.txt,110,94,55,74,49,48,60,34,72,57,...,0,0,0,0,0,0,0,0,0,0
493.txt,97,39,51,39,32,30,41,41,41,24,...,0,0,0,0,0,0,0,0,0,0
494.txt,97,39,51,39,32,30,41,41,41,24,...,0,0,0,0,0,0,0,0,0,0

In [49]:
grader.check("q04_03")

q04_03 results: All test cases passed!

Since we'll need it in all of our future calculations, we'll create a globally-defined instance of `bow` below. **Make sure that throughout the rest of your notebook, `bow` is defined exactly as below!**

In [50]:
bow = files_to_bow('data/syllabi')
bow.head()

,the,to,and,you,a,of,in,for,will,be,...,1017,012,ereader,1006,opinion,011,auditorium,chesebrough,flaws,withdrawal
183.txt,183,131,97,101,77,74,70,76,47,43,...,0,0,0,0,0,0,0,0,0,0
203.txt,206,136,105,114,59,68,80,65,62,50,...,0,0,0,0,0,0,0,0,0,0
270.txt,57,25,26,31,34,22,19,12,21,26,...,0,0,1,0,1,0,0,0,1,0
280.txt,157,102,128,77,94,73,70,78,20,32,...,0,0,0,0,0,0,0,0,0,0
281.txt,214,132,78,110,110,85,83,63,61,64,...,0,0,0,0,0,0,0,0,0,1

### Question 4.4 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>

Complete the implementation of the function `bow_to_tfidf`, which takes in a bag of words matrix (`bow`) returned by `files_to_bow`. `bow_to_tfidf` should return a DataFrame with the same row labels and column labels as `bow`, but with all values converted to TF-IDFs ‚Äì that is, the outputted DataFrame should contain the TF-IDF of every word in every file.

Example behavior is given below.

```python
# Here, we're referring to the globally-defined bow.
>>> out = bow_to_tfidf(bow)
>>> out.shape == bow.shape
True

>>> out.loc['485.txt', 'science']
0.0005272966438261625
```

Some guidance:
- Follow our logic from Lecture 12 to convert `bow` to a TF-IDF matrix. Your implementation here should be relatively short (< 10 lines).
- While not strictly required (in that we won't test it), we recommend you implement `compute_idfs`, which takes in a DataFrame like `bow` and returns a **Series** containing the inverse document frequency (IDF) of each word in `bow`. Not only will this help compartmentalize your work for this question, but it'll make your life much easier in Question 4.5, when you'll again need to use the IDFs of every word in the corpus.

In [51]:
def compute_idfs(bow):
    num_docs = len(bow)
    doc_freqs = bow.astype(bool).sum()
    idfs = np.log(num_docs / (doc_freqs))
    return idfs

def bow_to_tfidf(bow):
    idfs = compute_idfs(bow)
    tf = bow.div(bow.sum(axis=1), axis=0)
    tfidfs = tf * idfs
    
    return tfidfs

# Uncomment the line below once you've implemented bow_to_tfidf.
bow_to_tfidf(bow).head()

,the,to,and,you,a,of,in,for,will,be,...,1017,012,ereader,1006,opinion,011,auditorium,chesebrough,flaws,withdrawal
183.txt,0.0,0.0,0.0,0.000813,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
203.txt,0.0,0.0,0.0,0.000925,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
270.txt,0.0,0.0,0.0,0.000948,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.002933,0.0,0.002933,0.0,0.0,0.0,0.002933,0.000000
280.txt,0.0,0.0,0.0,0.000631,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000
281.txt,0.0,0.0,0.0,0.000852,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000743

In [52]:
grader.check("q04_04")

q04_04 results: All test cases passed!

Before we move forward, it's worth stopping and looking at what we've already accomplished. Run the cell below to see the 5 words with the highest TF-IDFs in each syllabus.

In [53]:
def five_largest(row):
    return ', '.join(row.index[row.argsort()][-5:])

bow_to_tfidf(bow).apply(five_largest, axis=1)

183.txt               zybooks, eecs183, codelab, 183, ecoach
203.txt             match, enrolled, homework, ecoach, pages
270.txt                   digital, closed, lab, really, book
280.txt                     partners, 280, lab, fci, debrief
281.txt            999999, least, attempt, eecs281admin, lab
370.txt                   score, hardware, computers, 55, 99
373.txt          373, extenuating, penalty, embedded, unfair
376.txt         algorithm, solution, solvable, 376, workshop
388.txt       asynchronously, musaddequr, br, security, face
390.txt         score, paradigms, partners, 390, partnership
445.txt                dow, theoretical, 30pm, machine, zhao
453.txt         deep, unsupervised, 09, learning, supervised
465.txt           standing, 2004, berenson, press, cambridge
467.txt           robots, localization, robot, physical, sum
470.txt         projects, format, verilog, architecture, 470
471.txt             cuda, ia, graphics, processors, parallel
473.txt                     drivers, pcb, device, power, 373
475.txt    probability, impossible, ciphers, encryption, ...
481.txt       former, 481, advice, comprehension, activities
482.txt             members, operating, beyster, group, 1695
483.txt       pre, decaf, requisite, construction, compilers
484.txt                relational, morning, j, eastern, zoom
485.txt                  instagram, dynamic, web, 485, pages
487.txt                       yujian, liu, lu, wang, natural
489.txt              streaming, network, layer, 489, routing
490.txt                              tue, fri, nov, sep, oct
492.txt                            ch, feb, ethics, jan, mar
493.txt             ui, surveys, eecs493, milestone, quizzes
494.txt             ui, surveys, eecs493, milestone, quizzes
dtype: object

Compare that to the 5 words with the highest frequences in each syllabus:

In [54]:
bow.apply(five_largest, axis=1)

183.txt                  a, and, you, to, the
203.txt                 in, and, you, to, the
270.txt                  be, and, you, a, the
280.txt                  for, a, to, and, the
281.txt                   of, a, you, to, the
370.txt                   be, a, you, to, the
373.txt                   a, of, to, and, the
376.txt                 of, you, and, to, the
388.txt               for, the, face, of, and
390.txt                  of, we, and, to, the
445.txt                  to, a, will, of, the
453.txt    1, and, supervised, week, learning
465.txt              of, course, be, the, and
467.txt                   is, of, a, the, and
470.txt                and, be, to, will, the
471.txt                  in, of, you, to, the
473.txt                be, will, to, and, the
475.txt                eecs, is, the, of, and
481.txt                  are, a, to, and, the
482.txt                  a, and, you, to, the
483.txt               code, you, and, to, the
484.txt          will, course, and, the, zoom
485.txt                   to, of, a, and, the
487.txt                  is, to, of, the, and
489.txt                 of, you, to, and, the
490.txt                in, thu, tue, and, the
492.txt                in, will, you, to, the
493.txt               for, in, will, and, the
494.txt               for, in, will, and, the
dtype: object

Hopefully, the value of TF-IDF is clear, but it's also clear that TF-IDF isn't perfect in summarizing documents. But, as we'll soon see, it'll serve our purposes well!

Before you move to Question 4.5, there's one piece of syntax that you'll find useful: the Series `reindex` method. Here's an example of how it works:

In [55]:
things = pd.Series({'a': 2, 'b': 5, 'c': 1})
things

a    2
b    5
c    1
dtype: int64

In [56]:
stuff = pd.Series({'a': 'hello', 'b': 'hi', 'x': 9})
stuff

a    hello
b       hi
x        9
dtype: object

In [57]:
things.reindex(stuff.index)

a    2.0
b    5.0
x    NaN
dtype: float64

In [58]:
things.reindex(stuff.index).fillna(0)

a    2.0
b    5.0
x    0.0
dtype: float64

### Question 4.5 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>

Complete the implementation of the function `new_query_to_tfidf`, which takes in a string (`query_string`) and a bag of words matrix (`bow`) and returns a Series such that:
- The index contains the same labels as `bow`'s columns (meaning that if `bow` has 4306 columns, the outputted Series should have 4306 elements).
- The values contain the TF-IDF of each word, using `query_string` to compute TFs and **the entire corpus of syllabi (not including the new query)** to compute IDFs.

Example behavior is given below.

```python
>>> out = new_query_to_tfidf('yooo I am very very very interested in a practical machine learning course', bow)
>>> out.shape
(4306,)

# Most of the values in out are 0, since
# "yooo I am very very very interested in a practical machine learning course"
# doesn't contain most of the 4306 words in bow.
# Since 'yooo' is not in bow.columns, it doesn't appear in the index of out, either.
>>> out[out > 0]
machine       0.090005
interested    0.174514
very          0.328012
am            0.152385
i             0.032527
practical     0.109337
learning      0.050711
dtype: float64
```

To be clear, the TF-IDF of a word $t$ in a new query string $q$ is:

$$\text{tfidf}(t, q) = \underbrace{\frac{\text{\# of occurrences of $t$ in $q$}}{\text{total \# of tokens in $q$}}}_{\text{computed using } q \: (\texttt{query\_string})} \cdot \underbrace{\log \left(\frac{\text{total \# of syllabi}}{\text{\# of syllabi in which $t$ appears}} \right)}_{\text{computed solely using \texttt{bow}}}$$

Note that this means that the IDFs of each word have nothing to do with the `query_string` that is passed in. This is precisely why we suggested you implement `compute_idfs(bow)` in the previous part ‚Äì because it would help your implementation of `bow_to_tfidf`, and also help your implementation of `new_query_to_tfidf`.

Some additional guidance:
- This function should only take a few lines to implement, but requires combining several steps, going all the way back to Question 4.2. Think about how the `reindex` method might be useful.
- In the function signature below, you'll see `new_query_to_tfidf(query_string, bow=bow)`. `bow=bow` sets the default value of the `bow` argument to the globally-defined value of `bow`, meaning if we only pass one argument (`query_string`) to `new_query_to_tfidf`, it will automatically use the global `bow`. It's important for our function to be able to take in bag of words matrices other than our globally-defined `bow`, in case we want to use it on a different corpus of documents. But, most of the time we will call it on the global `bow`, so this is done for convenience.

In [59]:
def new_query_to_tfidf(query_string, bow=bow):
    query_tokens = tokenize(query_string)
    query_counts = pd.Series(query_tokens).value_counts()
    set_1 = set(compute_idfs(bow).index)
    set_2 = set(query_counts.index)
    diff = set_2 - set_1
    new = (query_counts/len(query_tokens)) * (compute_idfs(bow))
    return new.drop(index = diff).fillna(0)

# Feel free to change the input below to test out your implementation of new_query_to_tfidf.
out = new_query_to_tfidf('yooo I am very very very interested in a practical machine learning course')
out

0              0.0
00             0.0
000            0.0
001            0.0
002            0.0
              ...
zhongren       0.0
zhongsydney    0.0
zone           0.0
zoom           0.0
zybooks        0.0
Length: 4306, dtype: float64

In [60]:
def new_query_to_tfidf(query_string, bow=bow):
    # Tokenize the query string
    query_tokens = tokenize(query_string)
    
    # Count the occurrences of each token
    query_counts = pd.Series(query_tokens).value_counts()

    # Calculate term frequency (TF)
    tf = query_counts / len(query_tokens)
    
    # Compute IDF only for terms that exist in the bow
    idfs = compute_idfs(bow)

    # Keep only the terms that exist in the query and in the bow
    valid_terms = tf.index.intersection(idfs.index)

    # Calculate TF-IDF for the valid terms
    tfidf = tf[valid_terms] * idfs[valid_terms]

    # Return the resulting Series, filled with 0s for terms not present
    return tfidf.reindex(bow.columns, fill_value=0)

out = new_query_to_tfidf('yooo I am very very very interested in a practical machine learning course')
out

the            0.0
to             0.0
and            0.0
you            0.0
a              0.0
              ...
011            0.0
auditorium     0.0
chesebrough    0.0
flaws          0.0
withdrawal     0.0
Length: 4306, dtype: float64

In [61]:
grader.check("q04_05")

q04_05 results: All test cases passed!

Let's take stock of what we have so far.
- We have the TF-IDFs of every word in every document in our corpus. This means that we have a **vector representation** of each syllabus.
- We have a function that can take any query string and turn it into a **vector** of TF-IDF scores, as well.

Now, we can use techniques from Lecture 12 ‚Äì specifically, cosine similarity ‚Äì to find the syllabi that are most similar (and, hence, most relevant) to our query string!

### Question 4.6 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">3 Points</div>

Complete the implementation of the function `top_n_similar_documents`, which takes in a string (`query_string`), a positive integer `n`, and a bag of words matrix (`bow`) and returns a list containing the names of the `n` most similar documents to `query_string`. 

Use cosine similarity to measure the similarity between two vectors; you can implement cosine similarity however you'd like. Remember that document names are stored in the index of `bow`. The documents in the returned list should be sorted in **decreasing order of similarity**.

Example behavior is given below.

```python
>>> top_n_similar_documents('yooo I am very very very interested in a practical machine learning course', 3, bow)
['467.txt', '445.txt', '453.txt']

>>> top_n_similar_documents('C++ programming and systems design', 4, bow)
['482.txt', '473.txt', '370.txt', '281.txt']
```

In [62]:
def cosine_similarity(vec1, vec2):
    dot_product = np.dot(vec1, vec2)
    norm_vec1 = np.linalg.norm(vec1)
    norm_vec2 = np.linalg.norm(vec2)
    return dot_product / (norm_vec1 * norm_vec2)

In [63]:
def top_n_similar_documents(query_string, n, bow=bow):
    query_tfidf = new_query_to_tfidf(query_string, bow).fillna(0)
    arr =  np.array(query_tfidf)
    tfidf = bow_to_tfidf(bow).fillna(0)
    new = [0] * len(tfidf)
    for i in range(len(tfidf)):
        vec = np.array(tfidf.iloc[i])
        new[i] = cosine_similarity(vec, arr)
    npnew = pd.Series(new)
    yay = npnew.nlargest(n).index
    return  [bow.index[i] for i in yay]


# Feel free to change the inputs below to test out your implementation of top_n_similar_documents.
top_n_similar_documents('hey teach me about programming', 3)

['471.txt', '485.txt', '482.txt']

In [64]:
grader.check("q04_06")

q04_06 results: All test cases passed!

Awesome! You've implemented the retrieval step in RAG. That is, given a query, you're able to automatically find the most relevant documents in our "knowledge database" for answering that query.

It's time for the final step: passing a `query_string`, along with the contents of the most relevant documents, to a Large Language Model (which we already learned how to access, using `query_llama`).

### Question 4.7 <div style="display:inline-block; vertical-align: middle; padding:7px 7px; font-size:10px; font-weight:light; color:white; background-color:#e84c4a; border-radius:7px; text-align:left;">4 Points</div>

Complete the implementation of the function `ask_gpteecs`, which takes in a string (`query_string`) containing a question about EECS courses, a positive integer `n`, and a bag of words matrix `bow`. `ask_gpteecs` should return a **string** containing the result of:

- querying Llama 3 using `query_llama` from Question 4.1,
- where the query contains **both** the contents of `query_string` and
- the **top `n`** most similar syllabus documents,
- stitched together in a way that you deem appropriate.

Here's what we mean by "in a way that you deem appropriate." Suppose our query is `'yooo I am very very very interested in a practical machine learning course'`, and suppose `n=3` (the default).
- The top 3 most similar documents are `'467.txt'`, `'445.txt'`, and `'453.txt'`.
- If we just ask Llama, `'yooo I am very very very interested in a practical machine learning course'`, it won't know anything about EECS 467, EECS 445, or EECS 453. If we ask it, `'yooo I am very very very interested in a practical machine learning course, tell me about them: 467.txt, 445.txt, and 453.txt'`, it also won't know anything about those courses.
- Instead, once we identify which (3) documents are most relevant, we need to read them in as strings once again using `open`, then create a new `query_string` that looks something like:

```python
'''
Hi! I'm looking to answer this query that a student sent me, regarding EECS courses at the University of Michigan:

yooo I am very very very interested in a practical machine learning course

Here are some relevant courses from my knowledge base.

here's EECS 467
EECS 467: Autonomous Robots
Software methods and implementation for robot perception, world mapping, ...
...

here's EECS 445
Syllabus
Introduction to Machine LearningFall 2016
The course is a programming-focused introduction to Machine Learning.
...

here's EECS 453
Course Instructor: Prof. Qing Qu
Course Time: Mon/Wed 12:00 PM ‚Äì 1:30 PM
...
'''
```

- You can structure your final query string however you'd like, and you're encouraged to experiment with different phrasings to see if they influence your results; you can start by copying the example format above, but then try and make it your own. (This is called **prompt engineering**.)
- In the example above, we only included the first few lines of the relevant syllabi, but in your actual prompts, you'd include the entire text. You'll need to figure out a way of programmatically adding the course numbers and course syllabi text to your prompt string ‚Äì remember, `n` might be something other than 3.

In [65]:
def ask_gpteecs(query_string, n=3, bow=bow):
    similar = top_n_similar_documents(query_string, n, bow)
    arr = []
    content = []
    names = []
    new = f''' Here's what we mean by "in a way that you deem appropriate." Suppose our query is
    "{query_string}".
    
    Here are the top {n} syllabi that are most similar to your query:
    '''
    hello = query_llama(new)
    for i in similar:
        open_file = open(f'data/syllabi/{i}', 'r')
        #content.append(open_file.read())
        #names.append('EECS ' + i[:3])
        hello += f'EECS {i[:3]}: {open_file.read()}'

    return hello
    
    

# Feel free to change the inputs below to test out your implementation of ask_gpteecs.
# The Markdown function behaves like the print function,
# but renders text formatting (e.g. bolding, bullet points) when the output from Llama
# contains these elements.
(Markdown(ask_gpteecs('teach me about machine learning')))
#outs = [ask_gpteecs('yooo I am very very very interested in a practical machine learning course') for _ in range(1)]
#outs

1. Introduction to Machine Learning (6.0 units)

    - Syllabus: Introductory guide to ML concepts and techniques, including supervised learning, unsupervised learning, and reinforcement learning. Covers common ML algorithms like linear regression, logistic regression, decision trees, and neural networks.
    - Prerequisites: Basic programming skills, calculus, probability, and linear algebra.
    - Learning outcomes:
        - Understand the principles of ML and the various techniques used in data analysis and modeling.
        - Develop models using common ML algorithms and evaluate their performance using metrics like accuracy and precision.
        - Implement and compare different ML models on real-world datasets.

    - Contact hours: 72 hours (12 2-hour sessions)
    - Course materials: Lectures, assignments, exams, and practical exercises.
    - Assessment: Graded assignments, exams, and a final project.

 2. Advanced Machine Learning (6.0 units)

    - Syllabus: Deep learning, natural language processing, computer vision, and reinforcement learning. Covers advanced techniques for dealing with complex data structures and large-scale datasets.
    - Prerequisites: Basic understanding of ML, programming skills, and comfort with mathematical concepts and linear algebra.
    - Learning outcomes:
        - Gain advanced knowledge in ML, focusing on advanced techniques and modern applications.
        - Develop models using cutting-edge ML techniques like deep learning, NLP, and computer vision.
        - Apply advanced ML methods to solve complex problems and tackle real-world challenges.

    - Contact hours: 72 hours (12 2-hour sessions)
    - Course materials: Lectures, assignments, research papers, and real-world case studies.
    - Assessment: Graded assignments, exams, research paper presentation, and a final project.

3. Data Science for Machine Learning (6.0 units)

    - Syllabus: Data preprocessing, feature engineering, model evaluation, and dealing with imbalanced datasets. Focuses on practical skills required to be a data scientist in the context of ML.
    - Prerequisites: Basic understanding of ML, programming skills, and experience with Python or R.
    - Learning outcomes:
        - Develop models using ML techniques in a way that is consistent with your field of study and work experience.
        - Apply data preparation, feature engineering, and model evaluation techniques to real-world datasets.
        - Identify common problems in data science and ML and propose potential solutions.

    - Contact hours: 72 hours (12 2-hour sessions)
    - Course materials: Lectures, assignments, real-world case studies, and online resources/toolsets (Python or R).
    - Assessment: Graded assignments, exams, group projects, and a final project for real-world datasets.

Each of these courses aims to ensure you acquireEECS 453: Course Instructor: Prof. Qing Qu

Course Time: Mon/Wed 12:00 PM ‚Äì 1:30 PM,  3 credit hour

Office Hour: Wed 3:30 PM ‚Äì 5:00 PM

Prerequisite: EECS 351, or EECS 301, or any linear algebra courses

Notice: This is an entry-level ECE machine learning course targeted for senior EE & CE undergraduate, and junior master students outside SIPML area. All students outside EECS that want to learn the basics of ML are also welcome! Compared to EECS 445, this course places slightly greater emphasis on mathematical principles and is better suited for students who have limited experience with programming and machine learning.

Overview: The class will cover basic principles in machine learning, such as unsupervised learning (e.g., clustering, mixture models, dimension reduction), and supervised learning (e.g., regression, classification, neural networks & deep learning). For each topic, key algorithmic ideas/intuitions and basic theoretical insights will be highlighted.

Course Materials: slides and videos will be accessed via Canvas (TBA). Tentative topics that will be covered in this course are supervised learning, unsupervised learning, and reinforcement learning:

Basics of probability, linear algebra, and optimization
Regression and linear prediction
Support vector machines and kernel methods
Deep neural networks
Dimension reduction: PCA, autoencoder
Clustering (Kmeans, Mixture of Gaussians, EM)
Representation learning: nonnegative matrix factorization, dictionary learning
Assessment: (i) 5 homework assignments (40%), (ii) mid-term exam (30%), (iii) course projects (25%), (iv) participation & course evaluation (5%)

Assessment	 Percentage
Homework (5)	40%
Midterm Exam	30%
Projects	25%
Participation & Course Evaluation	5%
Textbook: We recommend the following books and articles, although we will not follow them closely.

Foundations of Machine Learning, by Mehryar Mohri, Afshin Rostamizadeh, and Ameet Talwalkar.
The Elements of Statistical Learning: Data Mining, Inference, and Prediction, by Trevor Hastie, Robert Tibshirani, and Jerome Friedman.
Deep Learning, by Ian Goodfellow, Yoshua Bengio, and Aaron Courville.
Mathematics for Machine Learning, by Marc Peter Deisenroth, A. Aldo Faisal, and Cheng Soon Ong.
Linear Algebra and Optimization for Machine Learning, by Charu C. Aggarwal.
Related courses:

EECS 445. Introduction to Machine Learning
EECS 453. Applied Matrix Algorithms for Signal Processing, Data Analysis, and Machine Learning
EECS 505. Computational Data Science and Machine Learning
EECS 545. Machine Learning
Course Syllabus (Note: the schedule is tentative, and is subject to change during the semester.)

Week	Date	 Topic	Contents	Homework, Review
Week-1-1	08/29	Introduction (Remote)	Course overview
Week-1-2	08/31	Supervised Learning (Remote)	Introduction to supervised learning, linear models, regularization	Linear Algebra Review
Week-2-1	09/05	Labor Day	No class
Week-2-2	09/07	Supervised Learning	Learning Theory	Probability Review, HW1 Release
Week-3-1	09/12	Supervised Learning	Linear regression I
Week-3-2	09/14	Supervised Learning	Linear regression II	Python Review
Week-4-1	09/19	Supervised Learning	Linear Classifiers
Week-4-2	09/21	Supervised Learning	Linear Discriminant Analysis	HW1 Due, HW2 Release
Week-5-1	09/26	Supervised Learning (remote)	Logistic regression
Week-5-2	09/28	Supervised Learning (remote)	Optimization methods I
Week-6-1	10/03	Supervised Learning	Optimization methods II
Week-6-2	10/05	Supervised Learning 	Support vector machine (SVM) I	HW2 Due,  HW3 Release
Week-7-1	10/10	Supervised Learning 	Support vector machine (SVM) II
Week-7-2	10/12	Supervised Learning 	Support vector machine (SVM) III
Week-8-1	10/17	Fall Study Day	No class
Week-8-2	10/19	Supervised Learning	Dual SVM	 HW3 Due
Week-9-1	10/24	Supervised Learning	Nonlinear models, kernel methods
Week-9-2	10/26	Supervised Learning	Introduction to deep neural networks I
Week-10-1	10/31	Supervised Learning	Introduction to deep neural networks II
Week-10-2	11/02	Supervised Learning	Introduction to deep neural networks III
Week-11-1	11/07	Midterm	Midterm
Week-11-2	11/09	Unsupervised Learning	Introduction to unsupervised learning, clustering problem, K-means	Project Proposal Due, HW4 Release
Week-12-1	11/14	Unsupervised Learning	K-means, mixtures of Gaussian, expectation maximization
Week-12-2	11/16	Unsupervised Learning	Dimension reduction, PCA
Week-13-1	11/21	Unsupervised Learning	Dimension reduction II
Week-13-2	11/23	Thanksgiving	No Class
Week-14-1	11/28	Unsupervised Learning (Remote)	Representation learning, matrix factorization	HW4 Due, HW5 Release
Week-14-2	11/30	Unsupervised Learning (Remote)	Autoencoder & self-supervised learning
Week-15-1	 12/05	Unsupervised Learning	Generative Models	HW5 Due
Week-15-2	 12/07	 Final Presentation	EECS 445: Syllabus
Introduction to Machine LearningFall 2016
The course is a programming-focused introduction to Machine Learning. Increasingly, extracting value from data is an important contributor to the global economy across a range of industries. The field of Machine Learning provides the theoretical underpinnings for data-analysis as well as more broadly for modern artificial intelligence approaches to building artificial agents that interact with data; it has had a major impact on many real-world applications.

This is an undergraduate course. Graduate students seeking to take a machine learning course should consider EECS 545.

The course will emphasize understanding the foundational algorithms and ‚Äútricks of the trade‚Äù through implementation and basic-theoretical analysis. On the implementation side, the emphasis will be on practical applications of machine learning to computer vision, data mining, speech recognition, text processing, bioinformatics, and robot perception and control. Real data sets will be used whenever feasible to encourage understanding of practical issues. The course will provide an opportunity for an open-ended research project. On the theoretical side, the course will give a undergraduate-level introduction to the foundations of machine learning topics including regression, classification, kernel methods, regularization, neural networks, graphical models, and unsupervised learning.

Basic Information
Professors	Dr. Jacob Abernethy and Dr. Jia Deng
TAs	Chansoo Lee, Zhao Fu, Ben Bray, Valli Chockalingham
Prerequisites
The only enforced prerequisite is EECS 281. However, if you are not familiar with at least one of the following topics you will struggle in this course.

Linear algebra at the level of MATH 419 or MATH 214, but preferrably at the level of MATH 217.
Probability at the level of EECS 401, MATH 425, or equivalent.
We understand that most EECS students will only ever encounter a proper subset of these topics, so we will be providing a brief review of important concepts at the beginning of the semester. We'll move fast, though, so be warned!

Textbook
A good textbook is invaluable for self-study. Although there is no required textbook, we highly recommend purchasing one of the following books for your own use and future reference:

Murphy, Kevin P. Machine learning: A Probabilistic Perspective. MIT press, 2012.
Bishop, Christopher M. Pattern Recognition and Machine Learning. Springer-Verlag New York, Inc., 2006.
Lectures
This semester, we will be experimenting with a flipped classroom format. The later section will be a typical lecture and will be video recorded for online viewing. The earlier section will be more hands-on, where students will spend most of their time working together in groups to better understand challenging concepts.

Section 001 (Hands-on Lecture) Mon/Wed 4:30-6pm, 1670 BBB
Section 002 (Standard Lecture) Mon/Wed 6-7:30pm, Chesebrough Auditorium
Discussion
Discussions begin Tuesday, September 13, 2016.

Discussion 011 (Ben) Fri 11:30am-12:30pm, 1006 DOW
Discussion 012 (Zhao) Thu 4:30-5:30pm, 1017 DOW
Discussion 013 (Zhao) Fri 1:30-2:30pm, 1303 EECS
Discussion 014 (Chansoo) Tue 4:30-5:30pm, 2150 DOW
Discussion 016 (Valli) Thu 2:30-3:30pm, 1005 EECS
Office Hours	See the course calendar below for our office hour schedule.
Communication	No email policy! Use Piazza instead! Our only exception to this policy is for personal issues, for which you may email or make an appointment with a professor.
EECS 471: Course Overview
The goal of this class is to teach parallel computing and developing applications for massively parallel processors (e.g. GPUs). Self¬≠driving cars, machine learning and augmented reality are examples of applications involving parallel computing. The class focuses on computational thinking, forms of parallelism, programming models, mapping computations to parallel hardware, efficient data structures, paradigms for efficient parallel algorithms, and application case studies.

The course will cover popular programming interface for graphics processors (CUDA for NVIDIA processors), internal architecture of graphics processors and how it impacts performance, and implementations of parallel algorithms on graphics processors. The curriculum will be delivered in ~29 lectures. The class has heavy programming components, including five hands¬≠on assignments and a final project.

Prerequisites
Students must have taken both EECS 281 and EECS 370

UG Requirements met by the class:
4 credits, Upper-level elective for CS and CE majors, Flex Tech electives.

Programming Assignments
Six assignments will be assigned during the term.

The most common reason for not doing well on the assignments is not starting them early enough. You will be given plenty of time to complete each assignment. However, if you wait until the last minute to start, you may not be able to finish. Plan to have it finished about 2 days ahead of the due date - many unexpected problems arise during programming, especially in the debugging phase. Plan for these things to happen. Your lack of starting early is not an excuse for turning in your assignment late, even if some unfortunate situations arise such as having your computer crash.

There are many sources of help on which you can draw. Many questions can be submitted to the course staff and your fellow classmates via the class forum. The policies for using the class forum are contained in the first post in the forum. These will typically be answered within the day, often more quickly during working hours. However, some types of questions cannot be answered without seeing your code. If you have detailed questions on your program, speak to a IA or professor in office hours.

Students are also encouraged to help one another on the course concepts (but not the implementation of the assignments). One of the best ways for you to make sure that you understand a concept is to explain it to someone else. Keep in mind, however, that you should not expect anyone else to do any part of your programming assignment for you. The programming assignment that you turn in must be completely your own.

Turning in Assignments
Assignments are due at 11:59 pm exactly on the due date.

Each assignment has a programming component to be submitted on Great Lakes, and a quiz component to be submitted on Gradescope. The programming component is 80% of the assignment grade, and the quiz component is 20% of the assignment grade.

Final Project
There will be a final project with an open ended implementation. You will be responsible for using the knowledge you gained throughout the course to optimize an applied problem. Project details will be posted later in the term.

Assignment and Project Grading
The assignments and project will be graded on both correctness and performance. All grading questions should first be discussed with your IA. If you cannot resolve a problem with the IA, bring the project to the instructor.

Doing Your Own Assignments
All assignments and exams in this course are to be done on your own, with the exception of the final project where you will be allowed to have a partner. Any suspected violation will result in the initiation of formal procedures with the LS&A or Engineering Honor Council. Violators will receive a 0 in the assignment, in addition to additional grade repercussions, as recommended by the appropriate Honor Council.

We will be using a sophisticated automated program to correlate programming work, including those submitted in previous semesters.

We do encourage students to help each other learn the course material. As in most courses, there is a boundary separating these two situations. You may give or receive help on any of the concepts covered in lecture or discussion and on the specifics of CUDA syntax. You are allowed to consult with other students in the current class to help you understand the assignment specification (i.e. the problem definition). However, you may not collaborate in any way when constructing your solution - the solution to the assignment must be generated by your work alone and the work of other students must not have contributed to your solution. You are not allowed to work out the programming details of the problems with anyone or to collaborate to the extent that your programs are identifiably similar. You are not allowed to look at or in any way derive advantage from the existence of specifications or solutions prepared in prior years (e.g. programs written by former students, solutions provided by instructors, or handouts).

If you have any questions as to what constitutes unacceptable collaboration, please talk to the instructor right away. You are expected to exercise reasonable precautions in protecting your own work. Do not leave your program in a publicly accessible directory, and take care when discarding printouts.

Exams
There will be two exams this semester. You are expected to take the exams at the scheduled times. If you do not take an exam without verifying a documented medical or personal emergency causing you to miss an exam, you will receive a zero for that exam. If you anticipate conflicts with the exam time, declare your conflicts by the date specifed on the exams page. The exam dates are given near the beginning of the semester so you can avoid scheduling job interviews or other commitments on exam days. Outside commitments are not considered a valid reason for missing an exam. If you need to request any special accommodation during any exam, please bring the necessary paperwork from the SSD office by the end of the first month of classes.

Grading Policy
Final grades will be based on the total points earned on homeworks, programming assignments and exams. Factors such as class participation may be used to adjust your final grade, especially if it falls on a borderline. T We consider the following grading policies:

Programming Assignments = 50%
Final Project = 15%
Midterm = 15%
Final exam = 20%
Incompletes will generally not be given. According to university policy, doing poorly in a course is not a valid reason for an incomplete. If you are having problems in the course, your best bet is to come talk to the instructor as soon as you are aware of them.

In [66]:
grader.check("q04_07")

q04_07 results: All test cases passed!

**Great work!** You've now implemented Retrieval-Augmented Generation, and have your very own ChatGPT-like interface that knows about EECS classes.

Unfortunately, it's not perfect. Look what happens with the following query:

In [67]:
#Markdown(ask_gpteecs('what is different about eecs 280 and eecs 281'))

At the bottom, the error says:

```
BadRequestError: Error code: 400 - {'error': {'message': 'Please reduce the length of the messages or completion.', 'type': 'invalid_request_error', 'param': 'messages', 'code': 'context_length_exceeded'}}
```

This is telling us that the query sent to Llama is longer than its **context window**, an idea we discussed at the start of Question 4. Since we're using the model `'llama3-8b-8192'`, the largest possible query we can send is 8192 tokens. If we take a look at the length of each syllabus, we see that the 280 and 281 syllabi together are longer than 8192 tokens (not including punctuation, or the input query, or our instructions):

In [68]:
bow.sum(axis=1).sort_values(ascending=False)

281.txt    4533
183.txt    4358
203.txt    4325
280.txt    4284
390.txt    4177
492.txt    3387
376.txt    3068
370.txt    2810
481.txt    2398
482.txt    2254
485.txt    2219
489.txt    2125
493.txt    1878
494.txt    1878
470.txt    1440
373.txt    1317
473.txt    1205
270.txt    1148
467.txt    1121
471.txt    1106
490.txt     875
453.txt     735
487.txt     582
445.txt     547
483.txt     540
388.txt     400
465.txt     388
475.txt     372
484.txt     246
dtype: int64

Feel free to keep toying with `query_llama` (see the [Groq documentation here](https://console.groq.com/docs/quickstart) to see what you can customize) and `ask_gpteecs` to try and improve the performance of your implementation.

## Finish Line üèÅ

Congratulations! You're ready to submit Homework 6.

To submit your homework:

1. Select `Kernel -> Restart & Run All` to ensure that you have executed all cells, including the test cells.
2. Read through the notebook to make sure everything is fine and all tests passed.
3. Run the cell below to run all tests, and make sure that they all pass.
4. Download your notebook using `File -> Download as -> Notebook (.ipynb)`, then upload your notebook to Gradescope under "Homework 6".
5. Stick around while the Gradescope autograder grades your work. **Remember that Homework 6 has no hidden tests! This means the tests you see in your notebook are the exact same as the ones that will be used to grade your work on Gradescope. When you submit on Gradescope, you'll see your score shortly after you submit, once the autograder finishes running.** 
6. Check that you have a confirmation email from Gradescope and save it as proof of your submission.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [69]:
grader.check_all()

q01_01 results: All test cases passed!

q01_02 results: All test cases passed!

q01_03 results: All test cases passed!

q02_01 results: All test cases passed!

q02_02 results: All test cases passed!

q02_03 results: All test cases passed!

q02_04 results: All test cases passed!

q02_05 results: All test cases passed!

q02_06 results: All test cases passed!

q02_07 results: All test cases passed!

q02_08 results: All test cases passed!

q02_09 results: All test cases passed!

q02_10 results: All test cases passed!

q03_01 results: All test cases passed!

q03_02 results: All test cases passed!

q03_03 results: All test cases passed!

q03_04 results: All test cases passed!

q04_01 results: All test cases passed!

q04_02 results: All test cases passed!

q04_03 results: All test cases passed!

q04_04 results: All test cases passed!

q04_05 results: All test cases passed!

q04_06 results: All test cases passed!

q04_07 results: All test cases passed!